[2016-05-07 00:04] ismlkrkmz opened #10 "Some built-in commands not working on Ubuntu"
When I say the commands that I mentioned below, there is **no error or failure** but at the same time there is **no action at all**.
**PS:** I'm trying all these on Ubuntu 14.04 LTS.

Here are the commands that not worked as its expected:

[code]

For packages that are not coming with official Ubuntu distribution like Steam, Blender, Inkscape, Gimp, Kdenlive etc.
**Expected behaviour:**  "[PACKAGE

[2016-05-07 00:34] mertyildiran commented on #10
is actually a good point. :+1:

@ismlkrkmz Please, find and suggest the proper Shell commands for File Manager / Open Files, Calculator and Calendar commands. So we can make an update.

[2016-05-07 00:37] ismlkrkmz commented on #10
@mertyildiran OK, I will.

[2016-05-07 00:57] ismlkrkmz commented on #10
@mertyildiran All we need is here:

**File Manager / Open Files:**
`nautilus --browser ~/some/directory`

**Calculator:**
`gnome-calculator`

**Calendar (Orage):**
`orage`
**NOTE: Orage Calendar should be installed!**

[2016-05-07 02:20] mertyildiran commented on #10
Solved with: 9b9a1de46fa544ca98ea7d6981c579d03319c243

[2016-05-07 02:20] #10 closed

[2017-06-21 13:16] vboasso opened #14 "I can't run dragonfire"
**Terminal:**

Successfully installed dragonfire-0.9.2
root@Nb-Vale:/home/vale# dragonfire
Traceback (most recent call last):
  File "/usr/local/bin/dragonfire", line 7, in <module>
    from dragonfire import initiate
  File "/usr/local/lib/python2.7/dist-packages/dragonfire/__init__.py", line 5, in <module>
    from lxml import etree
ImportError: No module named lxml

[2017-06-21 13:43] mertyildiran commented on #14
Fixed with https://github.com/DragonComputer/Dragonfire/commit/ef5f3df725b12ec6602a7e007068b1100360fa6c .

@vboasso You can also install lxml package via `sudo apt-get install python-lxml` or `pip install lxml`

[2017-06-21 13:43] #14 closed

[2017-06-21 13:45] mertyildiran commented on #14
@vboasso Also please join to our chat room: https://gitter.im/DragonComputer/Lobby

[2017-06-22 07:07] mertyildiran opened #15 "Add Python3 support"
Add Python3 support project-wide

- [ ] Double-check everything works before sending the pull request
- [ ] Make sure you did not brake the Python2.7 support
- [ ] Check if Universal Wheels working correctly: `python setup.py bdist_wheel --universal`

[2017-06-22 07:30] mertyildiran opened #16 "Add Google web search command"
Add a command like `GOOGLE SEARCH *` or `SEARCH * IN WEB` that will open up a browser window with target URL: https://www.google.com/search?q=[QUERY]

[2017-06-22 07:34] mertyildiran opened #17 "Add Google image search command"
Add a command like `GOOGLE IMAGE SEARCH *` or `PICTURES OF *` that will open up a browser window with target URL: https://www.google.com/search?q=[QUERY]&tbm=isch

[2017-06-24 01:16] mertyildiran opened #18 "Add the ability to answer weather forecast questions."
Add the ability to answer weather forecast questions. DO NOT USE any API key because Dragonfire is an application that runs on the client's machine.

[2017-06-24 01:19] mertyildiran opened #19 "3D Avatar for Dragonfire"
Find a way to display a 3D object with animations.
 - A high-poly 3D female head with transparent background will appear on the screen everytime when TTS triggered (with mouth animations):

![](https://static.turbosquid.com/Preview/2014/05/17__13_31_50/Female_Head_2_.jpg9ab9337e-ffcd-4c8e-8f91-f000ab29934fOriginal.jpg)

[2017-06-24 03:57] mertyildiran opened #20 "Speech recognition sometimes not working"
Speech recognition sometimes not working because of unknown reasons. It's either working from the beginning to end of Dragonfire or not working at all.

I think there are two possibilities:

- [ ] Some how [this process](https://github.com/DragonComputer/Dragonfire/blob/master/dragonfire/__init__.py#L496) hanging even though Dragonfire is closed properly. I predicate this to that; every time after

[2017-06-24 04:22] mertyildiran opened #21 "DisambiguationError of wikipedia module shuts down Dragonfire"
[code]

[2017-06-24 21:00] mertyildiran opened #22 "padsp package is missing in some systems"
Add `padsp` package to:

- [ ] Development post-install package list ([this line](https://github.com/DragonComputer/Dragonfire/blob/master/setup.py#L22))

- [ ] Production post-install package list ([this line](https://github.com/DragonComputer/Dragonfire/blob/master/setup.py#L39))

[2017-06-24 21:13] mertyildiran opened #23 "julius package is missing on Debian"
`julius` package is missing on Debian. Handle this situation in post-install script.

[2017-06-28 07:55] mertyildiran opened #24 "Replacements(mirror) is faulty"
Replacements(mirror) is faulty like: ` FORGET ABOUT YOU` -> `OK, I FORGOT EVERYTHING I KNOW ABOUT YOU`

[2017-06-28 08:36] mertyildiran commented on #24
Fixed with 692ed7d157dffce4785b906bed14138f427c0079.

[2017-06-28 08:36] #24 closed

[2017-07-03 02:20] ProphetDaniel opened #26 "Dragonfire gets puzzled with its own female voice."
Dragonfire listens to the audio itself is reproducing and assumes that's the user voice. And it can enter an endless loop in that situation.

A simple way to solve that problem is to use a noise cancelling technique of the generated sounds by the computer so that the detected sound is only going to be the difference of the ambient sound less the generated sound.

As the volume and the microphone p

[2017-07-03 10:40] mertyildiran commented on #26
@ProphetDaniel I also experienced the same problem many times. You can simply workaround this problem either by listening from your headphones or putting your microphone farther away from your speaker(or reduce the volume).

I don't understand this suggestion of yours: `input_sound = microphone_input - scaler.generated_computer_sound.volume` please try to explain in a different way.

We can config

[2017-07-03 15:30] ProphetDaniel commented on #26
@mertyildiran , that is exactly what I did. I used my headphones to work around.

I don't think Dragonfire should be not listening while speaking. Because we humans are still listening while we are speaking too.

This is a possible noise cancelation technique based on the knowledge Dragonfire has about the sound it is generating. So to cancel completely its own voice in the signal to be processed

[2017-07-03 15:39] mertyildiran commented on #26
@ProphetDaniel to be honest, I don't know the low level mechanisms of speech recognition we are using in Dragonfire. So I don't know how we can implement those things you explained but let's continue to talk in [our Gitter chat room](https://gitter.im/DragonComputer/Lobby).

[2017-07-04 15:57] mertyildiran opened #27 "libjack-dev package is missing in some systems"
@ProphetDaniel

[2017-07-08 12:33] ProphetDaniel commented on #27
Thank you for creating the issue @mertyildiran. Indeed. In my KDE Neon dev edition, the package that comes available is actually `libjack-jackd2-0`. There was no `libjack0` nor `libjack-dev` packages option for me to install. So I had first to uninstall `libjack-jackd2-0`, then install `libjack0` and finally install `libjack-dev`.

[2017-07-08 13:36] mertyildiran commented on #27
@ProphetDaniel I don't fully understand. According to [this search](https://packages.ubuntu.com/search?keywords=libjack-dev) it's available in both 14.04 and 16.04. It's even available in ZestyZapus (17.04) and ArtfulAardvark (17.10).

Also I forget what was the functionality of `libjack-dev` in **Dragonfire**. Is it providing `padsp` binary? What was the error before that?

As far as I understand

[2017-07-08 19:34] ddeath opened #28 "Warning: no model found for 'en'"
When I was trying to run dragonfire I got following warning:

 Warning: no model found for 'en'

And dragonfire ended on exception.

Looks like the solution is:

sudo python -m spacy.en.download all

[2017-07-08 19:39] ddeath opened #29 "festival - missing dependency in Mint"
When I tried to open dragonfire it crashed with:

[code]

solution is:

`sudo apt-get install festival`

[2017-07-08 19:45] mertyildiran commented on #28
@ddeath actually it's included in [this line](https://github.com/DragonComputer/Dragonfire/blob/master/setup.py#L30) and [this line](https://github.com/DragonComputer/Dragonfire/blob/master/setup.py#L48). Probably something bad happened on the installation before getting to that stage.

Could you please try to install it with **verbose**(-v) option: `sudo pip install -ve .` and tell me what do you

[2017-07-08 19:47] mertyildiran commented on #29
@ddeath agani, it's included in [this line](https://github.com/DragonComputer/Dragonfire/blob/master/setup.py#L22) and [this line](https://github.com/DragonComputer/Dragonfire/blob/master/setup.py#L40). Probably something bad happened on the installation before getting to that stage.

Could you please try to install it with **verbose**(-v) option: `sudo pip install -ve .` and tell me what do you s

[2017-07-08 20:02] ddeath commented on #28
During the installation from git code it will stop on this error:

[code]

[2017-07-14 13:03] rccclr opened #30 "Error when invoking dragonfire"
Hello,
Please help for this error.
Thanks

(Ubuntu 14.4)

Traceback (most recent call last):
  File "/usr/local/bin/dragonfire", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/local/lib/python2.7/dist-packages/distribute-0.6.14-py2.7.egg/pkg_resources.py", line 2671, in <module>
    working_set.require(__requires__)
  File "/usr/local/lib/python2.7/dist-packages/di

[2017-07-14 15:53] mertyildiran commented on #30
@rccclr `pip install youtube_dl` can fix this error.

Maybe I made a mistake when uploading the new version to PyPI. I will check it out...

[**Install Dragonfire in Development Mode**](https://github.com/DragonComputer/Dragonfire/blob/master/CONTRIBUTING.md#install-dragonfire-in-development-mode) can definitely solve all possible problems on your system. We are planning to release a `.deb` with 1

[2017-07-15 08:57] rccclr commented on #30
Many thanks
From development mode --> ok
I test with GOOD MORNING, but remain in loop (attach the console log)
Congratulations for the work!!!

You: GOOD MORNING
Dragonfire: SORRY, I DON'T UNDERSTAND THE SUBJECT OF YOUR QUESTION.
_______________________________________________________________

You: SUBJECTIVE
Dragonfire: SORRY, I DON'T UNDERSTAND THE SUBJECT OF YOUR QUESTION.
_____________________

[2017-07-15 10:13] mertyildiran commented on #30
@rccclr there is no built-in command called `GOOD MORNING`.

Dragonfire is confusing with her own voice. Try to listen it with your headphones instead of the speakers.

[2017-07-20 00:24] ProphetDaniel commented on #26
If found this [strategy](https://www.mathworks.com/help/nnet/ug/adaptive-neural-network-filters.html#bss4gqu-8) and I believe it has great merit for noise cancellation. It uses a multiple neuron adaptive filter. I will make some tests to check the performance of it.

[2017-07-20 15:52] mertyildiran commented on #26
@ProphetDaniel as I said before, it has a low priority also the prefered Speech Recognition method is currently uncertain. Maybe we will migrate to [mozilla/DeepSpeech](https://github.com/mozilla/DeepSpeech) soon. We should talk on [Gitter](https://gitter.im/DragonComputer/Lobby), please tag me when you have some free time. :blush:

[2017-07-23 14:26] mertyildiran commented on #23
Fixed with cd0bb1cef63331d25e40958940decd371850225e

[2017-07-23 14:26] #23 closed

[2017-07-23 14:28] mertyildiran commented on #29
Fixed with 56dc3687b4a3f63c2e2b66a186a43a13bae9ad01

[2017-07-23 14:28] #29 closed

[2017-07-23 14:30] mertyildiran commented on #19
Implemented with ad057c79578bf31b31408374cca3f58a90afb1b9

[2017-07-23 14:30] #19 closed

[2017-07-23 14:31] mertyildiran commented on #18
Temperature part implemented with 0a93a8e770049852780067dee0f515f3fb50d24f

[2017-07-23 14:32] #30 closed

[2017-07-25 02:28] mertyildiran opened #32 "Command-line arguments are not working in .deb installation"
Command-line arguments of `dragonfire` like `--cli`, `--silent`, `--headless` are not working when Dragonfire is installed from `.deb` package.

Probably because of [this intermediate file](https://github.com/DragonComputer/Dragonfire/blob/master/debian/fire/dragonfire).

[2017-07-25 18:59] mertyildiran commented on #32
Fixed with d7c8d49ec1b8758a406d685016f4e2db405eae64

[2017-07-25 18:59] #32 closed

[2017-10-13 08:38] ValentinChCloud commented on #16
Hello, the issue is a bit old if it's still relevant I can give a try

[2017-10-13 08:58] mertyildiran commented on #16
@ValentinChCloud sure, I would be very happy :blush:

[2017-10-14 00:24] mertyildiran commented on #16
Fixed with https://github.com/DragonComputer/Dragonfire/commit/619baadfcea73765ef254cf899d1f2a75c3537f6

[2017-10-14 00:24] #16 closed

[2017-10-15 20:14] mertyildiran commented on #17
Fixed with https://github.com/DragonComputer/Dragonfire/commit/fa72d359f3ee6157d54f1189fe5fc0598d55e72a

[2017-10-15 20:14] #17 closed

[2017-10-15 21:06] hwpplayer1 opened #35 "Integrations"
Bash integration which lets you us voice , visual , Bash and other shell terminal commands , Cloud integration with closed or open source search engines which lets you directly search something on internet via terminal or GUI and also communication channels such as Skype , Telegram , Hike , IRC etc

This is my first question about this project

Edit :  When i say Cloud integration i mean using Dat

[2017-10-17 08:41] mertyildiran commented on #35
This question is completely unclear, incomplete, overly-broad, primarily opinion-based or is not about programming, and it is unlikely to be fixed via editing. Because of these reasons I'm closing this issue.

[2017-10-17 08:41] #35 closed

[2017-10-18 02:51] rolfoz opened #36 "Zesty install Error."
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=17.04
DISTRIB_CODENAME=zesty
DISTRIB_DESCRIPTION="Ubuntu 17.04"

Error when trying to install downloaded .deb

Selecting previously unselected package libladr4.
(Reading database ... 528671 files and directories currently installed.)
Preparing to unpack .../0-libladr4_0.0.200911a-2.1_amd64.deb ...
Unpacking libladr4 (0.0.200911a-2.1) ...
Selecting previously unsel

[2017-10-18 06:03] mertyildiran commented on #36
@rolfoz first of all, that's a very unexpected error for me. Thanks for reporting it. :blush: :+1:

It says, it cannot cd into tools/ so error comes from [this line](https://github.com/DragonComputer/Dragonfire/blob/master/debian/postinst#L20). But before coming to that line it should have executed [this line](https://github.com/DragonComputer/Dragonfire/blob/master/debian/postinst#L17) which mean

[2017-10-18 07:21] rolfoz commented on #36
Thanks for the reply.

I tried purging the apt package and then deleting the kaldi directory and
tried again.

I got the same error, so I ran it with dpkg --debug=3771

This time I saw extra info

Cloning into '.'...
remote: Counting objects: 87231, done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 87231 (delta 0), reused 6 (delta 0), pack-reused 87220
Receiving objects: 100% (8

[2017-10-18 08:27] mertyildiran commented on #36
@rolfoz no, I actually realized my mistake:

I think you interrupted the installation while it's cloning Kaldi into `/usr/share/kaldi` which is an event that I haven't considered in the past. So we should change [this part](https://github.com/DragonComputer/Dragonfire/blob/master/debian/postinst#L12-L18) as:

[code]

and also we should add a file named `postrm` into `Dragonfire/debian/` directory

[2017-10-18 18:35] nergdron opened #37 "another zesty install issue"
This is on ubuntu 17.04/amd64. The package doesn't depend on subversion or libatlas-base-dev, but it fails to compile if either of those are missing. Should be an easy fix to the package dependencies list.

[2017-10-18 18:41] mertyildiran commented on #37
@nergdron thanks for reporting it :+1:

Could you please add those packages to the end of [this line](https://github.com/DragonComputer/Dragonfire/blob/master/debian/control#L11) and send a pull request? :blush:

[2017-10-18 18:56] nergdron commented on #37
https://github.com/DragonComputer/Dragonfire/pull/38

[2017-10-18 19:08] #37 closed

[2017-10-18 19:16] Tardog commented on #15
Is there already someone working on Python 3 support? If not: I would like to take a crack on this.

[2017-10-18 19:36] mertyildiran commented on #15
@Tardog no one is working on this issue so sure you can take it. :blush:

[2017-10-18 23:45] evplv opened #39 "Dragonfire is not able to start"
After clean download and install I get following error:
[code]

[2017-10-18 23:56] mertyildiran commented on #39
@evplv could you please try to run `apt-get install python-pyasn1` or `pip install pyasn1 --upgrade` then try to run `dragonfire` again and tell me if it works or not? :blush:

By the way, what distro is that? This is the first time I saw that error. Please tell me with the version number like Ubuntu 16.04.

[2017-10-19 00:36] huayra commented on #39
Same problem, but different message (had dependency issues getting to install the deb file). Im running 16.04 and it does simply not work.

$ dragonfire
Traceback (most recent call last):
  File "/usr/share/python/dragonfire/bin/dragonfire", line 11, in <module>
    load_entry_point('dragonfire==0.9.6', 'console_scripts', 'dragonfire')()
  File "/usr/share/python/dragonfire/local/lib/python2.7/sit

[2017-10-19 07:00] aggsol opened #40 "Install instructions are lacking details"
System: Ubuntu 16.04.2 ia64

I tried:
[code]

but that just lists all missing dependencies and removes dragonfire. Nothing is installed. More detailed instructions are required. What are the dependencies? Why are they not installed first?

[2017-10-19 08:01] mertyildiran commented on #40
@aggsol `dpkg` is a program that unable to get package dependencies from Debian/Ubuntu's repositories. So with `sudo dpkg -i dragonfire_0.9.6_amd64.deb` you declare your intention to install Dragonfire and it gives you the list of missing dependencies.

Then with `-f` option of `apt-get` you fix broken packages:

[code]

`sudo dpkg -i dragonfire_0.9.6_amd64.deb && sudo apt-get -f install` command

[2017-10-19 08:07] mertyildiran commented on #39
@huayra I think you interrupted the installation at some point. It should have install NTLK's Brown corpus with [this line](https://github.com/DragonComputer/Dragonfire/blob/master/debian/postinst#L36). Please try to reinstall Dragonfire or try to run `printf "import nltk\nnltk.download('names')\nnltk.download('brown')\nnltk.download('wordnet')" | python` as the last resort. (but running this comm

[2017-10-19 13:33] mertyildiran commented on #20
With the migration from SpeechRecognition package to Kaldi, this issue has been resolved https://github.com/DragonComputer/Dragonfire/commit/a18930a53d6f1fe3aa371f59398f39607623cbd7

[2017-10-19 13:33] #20 closed

[2017-10-19 13:57] mertyildiran commented on #36
@rolfoz I'm waiting for your pull request. Are you planning to send a pull request anytime soon with the fix I mentioned in my the previous comment? If your answer is no then I will make the changes by myself. But because you are the reporter of this issue, I think you deserve to commit the changes more than me.

[2017-10-19 14:08] rolfoz commented on #36
I'm sorry but I am not able to make a pull request. Please can you do it.
Thanks.

On 19 Oct. 2017 9:57 pm, "Mehmet Mert Yıldıran" <notifications@github.com>
wrote:

@rolfoz <https://github.com/rolfoz> I'm waiting for your pull request. Are
you planning to send a pull request anytime soon with the fix I mentioned
in my the previous comment? If your answer is no then I will make the
changes by myse

[2017-10-19 16:46] aggsol commented on #40
@mertyildiran I get the following output

[code]

[2017-10-19 17:11] mertyildiran commented on #40
@aggsol look the problem is `&&` waits for a success but `sudo dpkg -i dragonfire_0.9.6_amd64.deb` returns an error, so it does not execute `sudo apt-get -f install`. You should run them one by one:

`sudo dpkg -i dragonfire_0.9.6_amd64.deb` [Enter]
`sudo apt-get -f install` [Enter]

`sudo dpkg -i dragonfire_0.9.6_amd64.deb && sudo apt-get -f install` does not work if you have missing dependencies

[2017-10-19 17:46] aggsol commented on #40
okay that works. But still `pyowm' is now missing when starting.

[code]

[2017-10-19 18:06] mertyildiran commented on #40
@aggsol please try to re-install it. I think you interrupted the installation and it didn't even install `pyowm` Python package.

[2017-10-20 07:37] cclauss opened #43 "Undefined names"
Undefined names can raise NameError at runtime

flake8 testing of https://github.com/DragonComputer/Dragonfire on Python 2.7.14

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2017-10-20 07:52] cclauss commented on #15
@Tardog I would recommend steps 0 and 1 of http://python-future.org/futurize_cheatsheet.html  Then see if step 2 is needed or not.  This is a safe approach that avoids a lot of tedious changes.

[2017-10-20 07:58] Tardog commented on #15
@cclauss Thank you. I won't have the time to work on this before tomorrow, so feel free to add further contributions if you are able and willing to.

[2017-10-20 10:34] mertyildiran commented on #43
@cclauss one of them is experimental and the other one is not functional but still you can try to fix them. :blush:

*They are just not in my priorities right now.*

[2017-10-20 10:35] mertyildiran commented on #36
Fixed with https://github.com/DragonComputer/Dragonfire/commit/8019008202b003c7e65318c8b5bea79539b851fd

[2017-10-20 10:35] #36 closed

[2017-10-20 10:40] mertyildiran commented on #22
Abandoned `padsp` package.

[2017-10-20 10:40] #22 closed

[2017-10-20 12:15] mertyildiran commented on #43
@cclauss we integrated Travis CI but now tests are failing because of these issues. Are you planning to fix this issue soon or should I fix it myself? To fix it I think:

 - You should make [month](https://github.com/DragonComputer/Dragonfire/blob/master/dragonfire/timex.py#L25)'s scope global.
 - Add `p = pyaudio.PyAudio()` before [this line](https://github.com/DragonComputer/Dragonfire/blob/mast

[2017-10-20 15:54] mertyildiran opened #45 "Assign environment variable GST_PLUGIN_PATH in development mode"
`GST_PLUGIN_PATH` environment variable must be assigned to `/usr/share/kaldi/src/gst-plugin` in order to Kaldi GStreamer works.

In standard installation we assign it just before initiating the actual script with [this line](https://github.com/DragonComputer/Dragonfire/blob/master/debian/fire/dragonfire#L3). (so it's fine)

But in development mode (`pip install -e .`) none of the files under `debi

[2017-10-20 16:05] mertyildiran commented on #43
Fixed with https://github.com/DragonComputer/Dragonfire/commit/49833ab5c456f115da6aa9daf403cdb19c8c905d

[2017-10-20 16:05] #43 closed

[2017-10-20 17:22] cclauss commented on #15
https://travis-ci.org/DragonComputer/Dragonfire/jobs/290522020#L468 shows some of the issues that need to be addressed.

[2017-10-20 20:58] yuriw commented on #40
Well it does not work for me either:

`sudo dpkg -i dragonfire_0.9.6_amd64.deb
(Reading database ... 391162 files and directories currently installed.)
Preparing to unpack dragonfire_0.9.6_amd64.deb ...
Unpacking dragonfire (0.9.6) over (0.9.6) ...
dpkg: dependency problems prevent configuration of dragonfire:
 dragonfire depends on flite; however:
  Package flite is not installed.
 dragonfire dep

[2017-10-20 22:14] mertyildiran commented on #40
@yuriw please try to run `apt-get autoremove` to fix the situation and then try to install Dragonfire again.

[2017-10-20 22:38] yuriw commented on #40
@mertyildiran already tried and no love :-1:

[2017-10-20 23:38] mertyildiran commented on #40
@yuriw that's the standard procedure for any Debian(`.deb`) package.

Try to install the dependencies by hand with this command:
[code]

and then try to install Debian package: `sudo dpkg -i dragonfire_0.9.6_amd64.deb`

As the last resort; you can try to run [install.sh](https://github.com/DragonComputer/Dragonfire/blob/master/install.sh) script after cloning the repository.

[2017-10-20 23:46] yuriw commented on #40
@mertyildiran this seems to be running, let it comply and then will try using it :)

[2017-10-20 23:51] mertyildiran commented on #40
@yuriw I'm glad to hear that it's worked. :+1: :blush:

[2017-10-21 01:14] mertyildiran commented on #45
Fixed with https://github.com/DragonComputer/Dragonfire/commit/03f977a5a4a43c1d328f45cf8c6cb18c4ac83545

[2017-10-21 01:14] #45 closed

[2017-10-21 01:24] huayra commented on #39
@mertyildiran you are right. I even had to install nnltk manually, beføre I got the brown error. I saw issues outside of pip installed dependencies, as the installation generates A LOT of dependency issues even in Debian, which I corrected by manually installing every single dependency and using aptitude to try and solve any issues that arised (i.e. Skype and other software had to go).

In the end

[2017-10-22 01:01] huayra commented on #40
I can confirm that dragonfire works under Ubuntu 16.06 provided that you run the command above. It sort of solves #39 as least for me.

When starting my "Web Browser"shouldn't it start the default in the system (which in my case is Firefox)?

Otherwise funny :)

[2017-10-22 07:23] Tardog commented on #15
Sadly, no progress so far, because I'm having trouble getting Dragonfire to work. There seems to be a problem with the decoder attempting to create a pipeline for one of the Gstreamer elements (onlinegmmdecodefaster). If I don't find a solution today, I'm going to create a new issue for that.

[2017-10-22 09:10] mertyildiran commented on #15
@Tardog could you open a new issue and post the error there with full traceback?

[2017-10-22 09:15] mertyildiran commented on #40
@huayra I'm glad to hear that. :+1:

Dragonfire uses `sensible-browser` command to handle all web browser related tasks. Man page description:

[code]

[How to configure sensible-browser to use firefox instead of chrome?](https://ubuntuforums.org/showthread.php?t=2212948)

[2017-10-22 09:37] fabianTMC opened #46 "Dragonfire is not able to recognise my voice inputs"
This is what I see in the terminal

[code]

[2017-10-22 09:55] mertyildiran commented on #46
@fabianTMC if you have installed Dragonfire via `.deb` package then it should have [set](https://github.com/DragonComputer/Dragonfire/blob/2dc23a303af76aec8194b064ae1d725d3c6bae0b/debian/fire/dragonfire#L3) an environment variable called `GST_PLUGIN_PATH` every time it started. Though it seems not the case...

So you should set this environment variable before starting Dragonfire with this command

[2017-10-22 10:10] fabianTMC commented on #46
Yes, I installed it via the `.deb` package. `GST_PLUGIN_PATH` was not set but even after setting it and running Dragonfire, the issue persists.

[2017-10-22 12:10] mertyildiran commented on #46
@fabianTMC Is Kaldi available (compiled) under `/usr/share/kaldi` directory?

As the last resort; please try to run [this shell script](https://github.com/DragonComputer/Dragonfire/blob/master/install.sh).

[2017-10-22 15:10] fabianTMC commented on #46
I had already run that script. Turns out Kaldi hadn't been compiled. Traced it down to a missing subversion dependency which had caused an issue with the dpkg post install configuration for dragonfire. Fixed that and compiled Kaldi manually and everything works as expected now.

[2017-10-22 15:10] #46 closed

[2017-10-22 15:16] mertyildiran commented on #46
@fabianTMC yeah it is fixed with https://github.com/DragonComputer/Dragonfire/commit/22690829e62e935425bf769c15937b1c951a685b (in next release)

I'm glad to hear that it's worked. :+1: :blush:

[2017-10-22 18:35] huayra commented on #40
Thanks. That worked!

It is very promising I have to say. The biggest issue I have right  now is that it confuses itself because of its own sound feedback, so it goes into loops and becomes unusable as its own voice is recognized as part of the sentence/word I want it to process. Sometimes it somehow "hears" stuff I did not say. This happens even when there is silence around me (whole sentences, i

[2017-10-22 20:51] mertyildiran commented on #40
@huayra currently, a better way is listening her with your headphones instead of speakers. The best way is using a headset with microphone included.

There will be some improvements on this matter in the future but we should avoid this discussion about **puzzling with her own voice** under this issue and move it to https://github.com/DragonComputer/Dragonfire/issues/26

[2017-10-24 18:08] Tardog opened #47 "Error in decoder.py on start"
After installing Dragonfire, Kaldi, festival, and Julius, I get the following error when starting the application from a shell:

[code]

Despite that error, it appears to run (icon in the status bar), but Julius is not started. Even if I do start Julius manually, Dragonfire doesn’t react to any of my voice commands.

[2017-10-24 18:10] Tardog commented on #15
Here you go: #47

[2017-10-24 18:33] mertyildiran commented on #47
@Tardog sorry [this document](https://github.com/DragonComputer/Dragonfire/blob/master/CONTRIBUTING.md) is outdated a little bit. We completely abandoned Julius.

The error is related to Kaldi. Either an environment variable named `GST_PLUGIN_PATH` is not set so set it with `export GST_PLUGIN_PATH=/usr/share/kaldi/src/gst-plugin` before launching Dragonfire.

OR: Something bad happened on installa

[2017-10-26 17:08] evplv commented on #39
@mertyildiran sorry for the delayed answer.
when I install pyasn1 with apt I get the following trace:
[code]
When I install remove it with apt and install it with pip:
[code]

[2017-10-26 18:12] mertyildiran commented on #39
@evplv these are errors that are coming from too deep (in package-wise) so I don't even understand the situation. Please wait for the new release. (coming in a few days)

[2017-10-28 02:25] mertyildiran commented on #15
Added with https://github.com/DragonComputer/Dragonfire/commit/cfa6bea2b1e14d10c6a9ddb152020ae1b29052e3

[2017-10-28 02:25] #15 closed

[2017-10-28 02:29] mertyildiran commented on #39
@evplv and @huayra all of these problems are fixed in the [latest release](https://github.com/DragonComputer/Dragonfire/releases/tag/v0.9.7) of Dragonfire.

Feel free to open this issue again if you encounter with similar problems. :blush:

[2017-10-28 02:29] #39 closed

[2017-10-28 02:31] mertyildiran commented on #40
All of the problems mentioned under this issue, are fixed in the [latest release](https://github.com/DragonComputer/Dragonfire/releases/tag/v0.9.7) of Dragonfire.

Feel free to open this issue again if you encounter with similar problems. :blush:

[2017-10-28 02:31] #40 closed

[2017-10-28 05:25] cclauss commented on #15
Hi @Tardog ,  I apologize that I forgot about your claim above on this issue when I submitted my PR.  I hope that my submission did not offend.  The code in this repo is now compatible with both Python 2 and Python 3 and Travis CI + flake8 will let us know if we break that compatibility.  However, code that passes a linter is not necessarily code that works as expected in the real world. We have l

[2017-10-28 05:32] cclauss commented on #28
Does this help?  https://stackoverflow.com/questions/43459437/spacy-link-error

[2017-10-28 08:04] Yamakaky opened #51 "Support others distributions"
I think a good start would be to add a `requirements.txt` with all the python dependencies and a list of native dependencies. I'm on archlinux so I can be a test subject XD

[2017-10-28 14:49] mertyildiran commented on #51
@Yamakaky you are right, porting this virtual assistant to other distros is a very crucial task. We seek other people's(for example yours) help for this task. Feel free to add Arch Linux support and send a pull request. That would be very helpful. :blush:

[2017-10-28 18:39] Tardog commented on #15
Hi @cclauss – no apology necessary! Dragonfire is still resisting my best efforts to get it up and running, so I doubt I would have been able to work on this issue in due time. Thank you for taking this up. I’m definitely going to test with Python 3 when I finally find a way to run it.

[2017-10-28 18:49] Tardog commented on #47
@mertyildiran Ah, got caught in the outdated documentation trap. Good to know I don’t need Julius after all.

Setting `GST_PLUGIN_PATH` got rid of the above error – thank you for pointing me in the right direction.

Is the environment variable supposed to be set during installation? If not, it would be helpful to add this piece of information to the troubleshooting section or the readme.

[2017-10-28 20:56] jklmnn opened #52 "depend on automake, autoconf and libtool"
The package doesn't depend on automake, autoconf and libtool so the install will fail on a fresh system.

[2017-10-28 21:04] mertyildiran commented on #52
@jklmnn hmm, OK. Could you please add those packages to the end of these lines and send a pull request? :blush:

https://github.com/DragonComputer/Dragonfire/blob/master/debian/control#L11
https://github.com/DragonComputer/Dragonfire/blob/master/install-dev.sh#L4
https://github.com/DragonComputer/Dragonfire/blob/master/install.sh#L4

[2017-10-28 22:53] mertyildiran commented on #47
@Tardog fixed with a5d0eecf9e38e1bb572b9ba89f652b63ec1b9c02

[2017-10-28 22:53] #47 closed

[2017-10-29 14:56] jklmnn commented on #52
@mertyildiran done, see #53

[2017-11-24 10:54] #52 closed

[2017-11-27 10:52] cclauss opened #57 "What does TTA stand for??"

[2017-11-27 11:02] cclauss opened #58 "Does Dragonfire work on both Python 2 and Python 3?"
I would be interested to know which versions of Python people are using when running Dragonfire.  Coding and testing for both versions is work which could be simplified by dropping Python 2 support but that may not yet be an an option.  There are probably performance, asyncio, and f’strings’ reasons for adopting a Python 3 only approach.

[2017-11-27 11:30] cclauss opened #59 "Could we run autopep8 over the entire codebase?"
There are [lots of issues](https://travis-ci.org/DragonComputer/Dragonfire/jobs/307696317#L2825-L2852) with mixed indentation (tab and space indentation on the same line) and other formatting issues.  Is there a need to keep using tab indentation?  Other language communities (esp. golang) are demonstrating that programer performance increases when code formatting is done automatically and with no

[2017-12-12 09:31] mertyildiran commented on #57
**TTS:** text-to-speech
**TTA:** text-to-action
My own invention :laughing:

[2017-12-12 09:31] #57 closed

[2017-12-12 09:37] mertyildiran commented on #58
We are currently distributing Dragonfire by [building a Debian package](https://github.com/DragonComputer/Dragonfire/blob/master/CONTRIBUTING.md#build-the-debian-package)

Python dependencies are listed in [here](https://github.com/DragonComputer/Dragonfire/blob/master/debian/control#L10-L11).

In the future, Python 2.7 will be deprecated and all kind of distros will be migrated to Python 3.x That

[2017-12-12 09:37] #58 closed

[2017-12-12 09:40] mertyildiran commented on #59
I'm weak on coding conventions. @cclauss it's up to you. Please, you decide these kind of matters. I will accept your PRs.

[2017-12-18 13:27] ianni67 opened #60 "AttributeError: TTA instance has no attribute 'define_and_execute'"
HI, this software is a great job but I'm getting an error every time I run it:
`ianni@goliath:~$ dragonfire
_______________________________________________________________

Traceback (most recent call last):
  File "/usr/local/bin/dragonfire", line 9, in <module>
    load_entry_point('dragonfire==0.9.7', 'console_scripts', 'dragonfire')()
  File "/usr/local/lib/python2.7/dist-packages/dragonfire/_

[2017-12-18 17:24] ianni67 opened #61 "dragonfire installed from .deb stays at 100% CPU and very slow"
After installing dragonfire from the .deb file, the demo runs very slow, is very unresponsive and the CPU stays at 100% forever.
kde neon last version, Intel I7 CPU, 8GB RAM.

What can I do?

[2017-12-22 15:34] mertyildiran commented on #60
@ianni67 current state of this repository is unstable. Please jump to: https://github.com/DragonComputer/Dragonfire/tree/6cf5431b43073768288ba5c4fb9be83ef08f6cfb

[2017-12-23 05:44] mertyildiran commented on #61
@ianni67 the installation process is slow and consumes high amount of CPU resources because it compiles and installs [Kaldi ASR](http://kaldi-asr.org/). This problem(if you think it as a problem) is not directly related to Dragonfire. So please ask to [Kaldi ASR’s maintainers](http://kaldi-asr.org/) for a better alternative than compiling.

[2017-12-23 05:44] #61 closed

[2017-12-23 07:59] ianni67 commented on #61
I did not complain because installation is slow. I was describing the fact that dragonfire is slow and unresponsive in my computer. I wrote explicitly _after_ the installation. Perhaps I was not clear.
When running dragonfire, it is slow and brings the CPU (Intel I7) up to 100%.

[2017-12-23 15:02] ianni67 commented on #60
thank you

[2017-12-29 14:53] hwpplayer1 opened #63 ""dragonfire" "closed unexpectedly""
![dragonfire-001](https://user-images.githubusercontent.com/9614451/34439703-e2e268fe-ecc0-11e7-88a3-5ddfeee82ecd.png)

[2018-01-01 12:23] mertyildiran commented on #63
@hwpplayer1 it seems like you have insufficient free memory to run Dragonfire. "min 2 GB free memory"

[2018-01-01 12:23] #63 closed

[2018-01-01 12:23] #59 closed

[2018-01-20 13:05] j4rv1s1 opened #64 "is it possible to modify dragonfly name?"
hi guys first of all congrats for this awesome project, finally something smarter. i'm here just to ask you if it's possible to modify dragonfly wake up words and name,if so in which file?  thank you!

[2018-01-27 07:39] mertyildiran commented on #64
@j4rv1s1 thanks! :blush: No, it's not currently possible but it can be with a few modifications under [this block](https://github.com/DragonComputer/Dragonfire/blob/master/dragonfire/__init__.py#L212-L218) and by adding a new block to catch and handle renaming task.

I believe you can do this work by yourself and contribute to this project. Feel free to send pull requests. :trophy:

[2018-02-04 20:19] obafemi opened #65 "ubuntu 17.10 kurulum sorunu"
Kurulum yapmak için install.sh dosyasını çalıştırdığım zaman bilgisayarım kitleniyor. .deb dosyasını kurduğum zamanda program çalışmıyor.

[2018-02-09 23:09] stewiemo opened #66 "install issue on linux mint"
i have ran all install steps and troubleshoot for the dependancies but still get this issue

user@stewiemo ~/Dragonfire $ dragonfire
Traceback (most recent call last):
  File "/usr/share/python/dragonfire/bin/dragonfire", line 6, in <module>
    from pkg_resources import load_entry_point
  File "/usr/share/python/dragonfire/local/lib/python2.7/site-packages/pkg_resources/__init__.py", line 3142, i

[2018-02-14 23:53] wrapperband commented on #66
I am getting the same issue with Kubuntu 17.10, I also have re installed, and tried apt installing the dependencies.

[2018-02-22 10:05] mertyildiran commented on #66
@stewiemo and @wrapperband you can install **pyowm** manually with `pip install pyowm`

[For more information about PyOWM](https://github.com/csparpa/pyowm#pyowm-sunny-umbrella-snake)

[2018-02-22 10:05] #66 closed

[2018-02-22 10:07] mertyildiran commented on #65
@obafemi you should have used English language only to explain your problem. This is why I'm closing this issue. Please file a new issue and explain your problem in English.

[2018-02-22 10:07] #65 closed

[2018-03-07 17:54] Shrinidhi1928 opened #67 "Removing Dragonfire"
How can i remove dragonfire from my laptop?

[2018-03-10 07:46] mertyildiran commented on #67
@Shrinidhi1928 `sudo apt-get remove dragonfire` will easily remove Dragonfire from your system.

[2018-03-10 07:46] #67 closed

[2018-03-10 12:32] Shrinidhi1928 commented on #67
Thanks @mertyildiran

[2018-03-17 00:17] EnforcerZhukov commented on #30
Got this error from Ubuntu 14.04.1

[code]

[2018-03-24 09:43] mertyildiran commented on #30
@EnforcerZhukov you should install `pyowm` manually with `pip install pyowm` command.

[2018-04-05 08:00] Vipult opened #68 "Dragonfire takes more than 30 min to install"
Hi..I tried to install Latest hotfix of Dragonfire on Ubuntu 17.10...the installation keeps going and
does not seem to finish even after 2 hours...May I know whether I am doing anything wrong?I am following the instructions given

[2018-04-05 20:35] hosford42 commented on #68
I had a similar issue. It would seem the install is extremely memory-intensive, resulting in a lot of paging which can cause very long runtimes.

[2018-04-08 07:52] mertyildiran commented on #68
@Vipult and @hosford42 Dragonfire compiles Kaldi ASR on installation time. This is why it takes so much time and consumes that amount of memory.

[2018-04-08 07:52] #68 closed

[2018-04-22 18:47] mertyildiran opened #69 "Missing dependencies for Python 3 compatibility"
* `pip3 install nltk` should be added to somewhere in the installation scripts.
 * [These dependencies of wxPython](https://github.com/wxWidgets/Phoenix/issues/412#issuecomment-310858980) and `pip3 install wxPython` should be added to somewhere in the installation scripts. (or [try this](https://wxpython.org/Phoenix/snapshot-builds/README.txt))
 * `python3 -m spacy download en` should be added to

[2018-04-22 18:52] mertyildiran opened #70 "realhud C extension causing problem for Python 3 compatibility"
When I try to install Dragonfire for Python 3 with `pip3 install -e .` command; [these lines](https://github.com/DragonComputer/Dragonfire/blob/master/setup.py#L153-L154) causing an error:

[code]

[2018-04-22 22:46] mertyildiran commented on #70
Fixed with https://github.com/DragonComputer/Dragonfire/commit/1c16ce76a58a722cc75dde915b5953e0aa32918a

[2018-04-22 22:46] #70 closed

[2018-04-24 22:43] mertyildiran opened #71 "Compilation error related to module initialization in realhud"
When I run `dpkg-buildpackage -us -uc` to create the Debian package, I get this error:

[code]

Related code block is in [here](https://github.com/DragonComputer/Dragonfire/blob/master/dragonfire/realhud/realhud.c#L263-L283) and [this page](https://docs.python.org/3/howto/cporting.html#module-initialization-and-state) was my reference to write that code block.

[2018-04-25 00:41] mertyildiran commented on #71
Fixed with https://github.com/DragonComputer/Dragonfire/commit/f3b93f8f817901f1169bc830a5472683400bf764

[2018-04-25 00:41] #71 closed

[2018-04-25 00:43] mertyildiran commented on #21
Fixed with https://github.com/DragonComputer/Dragonfire/commit/ee0bed19ed9c3b8b2713fbcf508537088e325f15

[2018-04-25 00:43] #21 closed

[2018-04-25 00:44] mertyildiran commented on #60
@ianni67 fixed with https://github.com/DragonComputer/Dragonfire/commit/4a78bfd6d889b09f95292ef550f708d6e1863170

[2018-04-25 00:44] #60 closed

[2018-05-15 11:35] lalchand-pandia opened #72 "Memory corruption when running Dragonfire"
Hi,

Please note I am using tensorflow CPU version and deepspeech CPU version.
When I run dragonfire, it greets me with GOOD AFTERNOON.
The output of htop indicates I have enough memory. At the time of error, RAM memory used is 10GB out of 23 GB.
Then I get following error:
_______________________________________________________________

Dragonfire: GOOD AFTERNOON SIR
_____________________________

[2018-05-15 12:14] mertyildiran commented on #72
@lalchand-pandia fix with https://github.com/DragonComputer/Dragonfire/commit/43f21fecff8fce265c01b50df472675cd729f953

Please download and install new [dragonfire_0.9.9_amd64.deb](https://github.com/DragonComputer/Dragonfire/releases/download/v0.9.9/dragonfire_0.9.9_amd64.deb)

[2018-05-15 12:14] #72 closed

[2018-05-18 11:26] Multiboxer opened #73 "'dragonfire not found' after a successful .deb installation"
No errors occur during installation via the latest 0.9.9.deb however running Dragonfire outputs:
`/usr/bin/dragonfire: 3: /usr/bin/dragonfire: /usr/share/python/dragonfire/bin/dragonfire: not found
`.

The installer creates no folder named `/usr/share/python/dragonfire/` and the closest I can find is `/usr/lib/python2.7/dist-packages/dragonfire/` I am running Ubuntu 16.04 with python 2.7.14 & 3.6.

[2018-05-18 16:19] mertyildiran commented on #73
@Multiboxer I'm not sure what happened on your system. Have you ever tried to install Dragonfire using [install.sh](https://github.com/DragonComputer/Dragonfire/blob/master/install.sh) script? Just run: `sudo ./install.sh`

Not sure why it's installed in Python 2.7, I thought [this definition](https://github.com/DragonComputer/Dragonfire/blob/master/debian/rules#L4) was enough to make it Python 3.

[2018-05-19 06:29] Multiboxer commented on #73
Changing [that line](https://github.com/DragonComputer/Dragonfire/blob/master/setup.py#L94) to 3.6 and then running `sudo ./install.sh` fixed the missing files issue. Running `dragonfire` then output:
[code]
Not sure what caused it to misplace those files and not display any errors, but manually copying `Dragonfire/dragonfire/conversational/corpus/` from the repo to `/usr/local/lib/python3.6/site-

[2018-05-19 10:45] mertyildiran commented on #73
@Multiboxer could please you send your fix as a pull request? :blush:

[2018-05-25 09:34] syhgorath opened #74 "SSL Certification Error"
İ am using Pardus maybe because of this but error at blow;
File "/usr/local/lib/python3.5/dist-packages/spacy/compat.py", line 82, in url_read
    file_ = url_open(url)
  File "/usr/lib/python3.5/urllib/request.py", line 163, in urlopen
    return opener.open(url, data, timeout)
  File "/usr/lib/python3.5/urllib/request.py", line 466, in open
    response = self._open(req, data)
  File "/usr/lib/p

[2018-05-25 09:36] syhgorath commented on #74
Same Thing when i try to install via install.sh :(

[2018-05-25 16:57] mertyildiran commented on #74
@syhgorath are you able to install spaCy with `pip3 install spacy`?

I would try [this Stack Overflow answer](https://stackoverflow.com/a/43659075/2104879) first. Seems like `pip3` is somewhat broken on your system.

If it's happening on `python3 -m spacy download en` step then [this is the location](https://github.com/explosion/spaCy/issues/507) that you should seek for an answer.

[2018-05-25 16:57] #74 closed

[2018-05-25 19:15] syhgorath opened #75 "Not working on kubuntu"
i couldnt use it on pardus thats why i install kubuntu and i could install with no error but when i try to run it gives the error below;
Traceback (most recent call last):
  File "/usr/local/bin/dragonfire", line 11, in <module>
    load_entry_point('dragonfire==0.9.9', 'console_scripts', 'dragonfire')()
  File "/usr/local/lib/python3.6/dist-packages/pkg_resources/__init__.py", line 476, in load_e

[2018-05-26 02:43] mertyildiran commented on #75
@syhgorath Have you ever tried to install Dragonfire using [install.sh](https://github.com/DragonComputer/Dragonfire/blob/master/install.sh) script? Just run: `sudo ./install.sh`

[2018-05-26 02:43] mertyildiran commented on #73
Fixed with 146f1cd30c1104f109b8756a03def4bd4a659e8c and 6cb545092bdf60f9703cfbdd3f9e97962016be56

[2018-05-26 02:43] #73 closed

[2018-05-26 06:54] syhgorath commented on #75
Yes i did.

[2018-06-03 13:47] KrVignesh commented on #75
I had same issue as your's and i solved using  (https://github.com/DragonComputer/Dragonfire/issues/73)

Just edit your setup.py at [Line 94](https://github.com/DragonComputer/Dragonfire/blob/master/setup.py#L94) to whatever python version you are using
If you are using python 3.6 change
`'Programming Language :: Python :: 3 :: Only',`
to
`'Programming Language :: Python :: 3.6 :: Only',`

and man

[2018-06-03 14:48] mertyildiran commented on #75
@KrVignesh could you find a version independent solution (like; both works for Python 3.5 and Python 3.6) and send a pull request?

[2018-06-20 08:19] turtle-bazon opened #76 "Not working on Debian 9"
I've downloaded deb package and install it. First, it doesn't install. After installing python3-wheel installation seems successful, but it not starts:

`/usr/bin/dragonfire: 3: /usr/bin/dragonfire: /usr/share/python/dragonfire/bin/dragonfire: not found`

Actually, there are no file `/usr/share/python/dragonfire/bin/dragonfire`

[2018-06-20 10:51] mamantoha commented on #76
The same on Kubuntu 18.04.

[code]

[code]

[code]

[2018-06-20 11:02] turtle-bazon commented on #76
I can investigate but have not experience in python. :) So I don't know how to help. What is this file `/usr/share/python/dragonfire/bin/dragonfire`? It not present in dpkg package. So, is it should be generated during post-install scripts? Give me direction. :)

[2018-06-20 11:50] turtle-bazon commented on #76
I've looked at post-inst scripts and didn't see any generation of dragonfire binary at that path. So I'm confused now.

[2018-06-20 16:49] mertyildiran commented on #76
@mamantoha @turtle-bazon is it under `/usr/share/python3/dragonfire/bin/dragonfire` ? if so we forgot to change [this line](https://github.com/DragonComputer/Dragonfire/blob/master/debian/fire/dragonfire#L3). 😕

If that's the case then please fix it and send a pull request.

[2018-06-21 05:52] vladislavyuzbekov commented on #76
dragonfire -h
/usr/bin/dragonfire: 3: /usr/bin/dragonfire: /usr/share/python/dragonfire/bin/dragonfire: not found

[2018-06-21 05:52] vladislavyuzbekov commented on #76
vladislav@vladislav-P5QL-PRO:~$ dragonfire -h
/usr/bin/dragonfire: 3: /usr/bin/dragonfire: /usr/share/python/dragonfire/bin/dragonfire: not found

[2018-06-21 12:51] turtle-bazon commented on #76
No dragonfire dir neither in `/usr/share/python` nor in `/usr/share/python3`

[2018-06-21 20:03] mertyildiran commented on #76
@turtle-bazon @mamantoha @vladislavyuzbekov I fixed this issue with https://github.com/DragonComputer/Dragonfire/commit/d2ca3fb101c88c8244fa949ab2428282843f9146 and updated the release. So please redownload [dragonfire_1.0.0_amd64.deb](https://github.com/DragonComputer/Dragonfire/releases/download/v1.0.0/dragonfire_1.0.0_amd64.deb) file and install it again.

We apologize for the inconvenience. 😊

[2018-06-21 20:03] #76 closed

[2018-06-21 20:04] mertyildiran commented on #75
@syhgorath fixed with https://github.com/DragonComputer/Dragonfire/commit/6f5d0881c27803a9920cba886bae8f07a7b83cce

[2018-06-21 20:04] #75 closed

[2018-06-22 11:46] turtle-bazon commented on #76
New dragonfire sucessfully installed, but can't be run:
[code]

[2018-06-22 11:46] turtle-bazon commented on #76
It seems that `printf "import nltk\nnltk.download('names')\nnltk.download('brown')\nnltk.download('wordnet')\nnltk.download('punkt')" | python3` downloaded resources to root's home directory.

[2018-06-22 11:48] turtle-bazon commented on #76
After executing this line as user it launches, but I think that is not correct behavior.

[2018-06-22 11:56] turtle-bazon opened #77 "Finally it not working under Debian 9."
After resolving issue #76 it seems start. But it seems not working according https://www.youtube.com/watch?v=krHUzY2DylI. No reaction on voice and no hello from program. My dragonfire output:
[code]

[2018-06-22 11:56] turtle-bazon commented on #77
Again, it doesn't start under user without executing ```printf "import nltk\nnltk.download('names')\nnltk.download('brown')\nnltk.download('wordnet')\nnltk.download('punkt')" | python3```

[2018-06-22 12:01] mertyildiran commented on #77
@turtle-bazon I don't understand. Is running `printf "import nltk\nnltk.download('names')\nnltk.download('brown')\nnltk.download('wordnet')\nnltk.download('punkt')" | python3` fixed the issue?

[2018-06-22 15:02] turtle-bazon commented on #77
No, downloading nltk resources fixed one issue. That log after this fix i.e. it starts, but not working. I can see icon in systray but it doesn't say anything and not respond to my voice.

[2018-06-22 15:27] mertyildiran commented on #77
@turtle-bazon [this block](https://github.com/DragonComputer/Dragonfire/blob/master/dragonfire/nlplib.py#L11-L26) determines your gender based on the full name that you have given on the installation of your linux.

What is your full name may I ask?
[code]

Is it empty or something like that? Is the last letter of your full name is a blank character? Is there a weird character? There is something

[2018-06-22 15:36] #69 closed

[2018-06-22 20:11] turtle-bazon commented on #77
Yes, it is empty:
[code]

[2018-06-22 21:19] mertyildiran commented on #77
@turtle-bazon so that's the reason of `IndexError: string index out of range`. We should handle such a possibility. So could you add a few lines like:

[code]

to [here](https://github.com/DragonComputer/Dragonfire/blob/master/dragonfire/nlplib.py#L14) and **send a pull request**?

By the way please don't ask me why there is this method there because I don't even remember the actual reason. 😆

[2018-06-24 11:26] rpuch opened #80 "Cannot activate using voice in Ubuntu 16.04"
I've just installed Dragonfire using `sudo dpkg -i dragonfire_1.0.0_amd64.deb` on my Ubuntu 16.04. My system has a microphone and it works in Chrome, for example.

I run Dragonfire in a terminal using `dragonfire` command. Here is what I see:

[code]

Then I said for a few times 'Dragonfire' and 'Wake up'. Nothing happened. A bit later, a few new lines appeared in the terminal window:

[code]

It

[2018-06-24 18:45] mertyildiran commented on #80
@rpuch please try to run Dragonfire with `dragonfire --gspeech` option so she will use Google Speech Recognition Service to understand your voice command. Default speech recognition method is Mozilla DeepSpeech which has high [WER](https://en.wikipedia.org/wiki/Word_error_rate).

[2018-06-24 18:45] #80 closed

[2018-06-24 19:01] rpuch commented on #80
Thank you for the suggestion, but the only difference with `--gspeech` is that now Dragonfire does not recognize anything at all, even that noise. Instead, later, 1-2 minutes after I tried to pronounce these 'Dragonfire' and 'Wake up', I got an error:

[code]

Are those 'Cannot connect to server' lines normal?

[2018-06-24 19:11] mertyildiran commented on #80
@rpuch `Cannot connect to server` warning is actually related to system tray icon and nothing to do with speech recognition.

You should search for `ConnectionResetError: [Errno 104] Connection reset by peer` in [here](https://github.com/Uberi/speech_recognition) because it comes from that package.

[2018-06-27 16:21] turtle-bazon commented on #77
Ok, this solved that issue, but it not working anyway. :) I hear "Good evening, my lady", but then no reaction on any commands.

[code]

[2018-06-27 19:08] mertyildiran commented on #77
@turtle-bazon first of all try to run with `--cli` option like this: `dragonfire --cli` to see if she is working correctly. Because without `--cli` option she takes voice inputs and something can be wrong with speech recognition.

If there is a problem with speech recognition then please create a new issue.

I assume that this issue is fixed with https://github.com/DragonComputer/Dragonfire/commit

[2018-06-27 19:08] #77 closed

[2018-06-28 07:02] Ilia1 opened #82 "May be use RHVoice?"
https://github.com/Olga-Yakovleva/RHVoice
IMHO more pleasant and natural voice. you can choose in the settings which speech synthesizer to use.

[2018-06-28 07:07] mertyildiran commented on #82
@Ilia1 could you provide a demo or sample audio from that project? Is there an apt package? How do we integrate it into Dragonfire? Seems like we have to compile it on installation which I don't like the idea of "compiling" on installation time. If you can find a way to pack Dragonfire with a pre-compiled solution of RHVoice then we can think using it.

[2018-06-28 10:51] Ilia1 commented on #82
https://launchpad.net/%7Elinvinus/+archive/ubuntu/rhvoice/
there is a repository, but it has not been updated for a long time (version 0.7 has already been released). There are also examples of speech synthesis.

[2018-06-28 20:23] mertyildiran commented on #82
@Ilia1 we cannot add apt repositories to the user's system. It should be available in Ubuntu's official repositories if we will use it.

[2018-06-29 07:02] Ilia1 commented on #82
you did not plan to create a repository for your program? install from deb package and constantly check for updates is not very convenient.

[2018-06-29 08:10] mertyildiran commented on #82
@Ilia1 Dragonfire is a not a library nor can be a dependency for a software. So it's not necessary. We tried to put Dragonfire into Debian's repositories but nearly half of our dependencies are pip packages and they are not available in Debian's repositories. Because of this reason we are unable to achieve that at this moment. In the future, it can be possible.

P.S. to become a Debian package you

[2018-06-29 11:01] turtle-bazon opened #83 "Audio input not working in Debian 9."
As descibed before, launhcing dragonfire and no reaction on my voice. `dragonfire --cli` seems to work. I check in pavucontrol that have audio sink dragonfire program. And there no problems as I see. But no reaction.

[2018-06-29 16:05] mertyildiran commented on #83
@turtle-bazon do you see `YOU: blabla` in the command-line or just literally nothing happens? Because you should say *DRAGONFIRE* or *HEY* to wake her up. If that's not the case:

Have you ever tried to run with `--gspeech` option like: `dragonfire --gspeech`?

[2018-06-29 20:06] turtle-bazon commented on #83
Yes, I know it activates via "dragonfire" or "wake up", I undrestood it using `--cli` option. But without `--cli` nothing happens. And yes, I don't see "YOU: blabla" in console.

[2018-06-29 20:09] turtle-bazon commented on #83
Can confirm that with `--gspeech` option works near expected.

[2018-06-29 21:13] mertyildiran commented on #83
@turtle-bazon troubleshooting this kind of problems is not easy. I don't have much idea about your situation. But I can say Dragonfire uses [Mozilla DeepSpeech](https://github.com/mozilla/DeepSpeech) when `--gspeech` option not plugged in. So I can recommend that try to use Mozilla DeepSpeech alone and see what happens.

[2018-07-03 11:34] Marvincoder opened #84 ".."
nice job

[2018-07-03 20:40] mertyildiran commented on #84
@Marvincoder thanks! 😊 But *GitHub Issues* is **not** a "leave a comment" section. So please do not open new issues unnecessarily in the future.

[2018-07-03 20:40] #84 closed

[2018-07-16 14:41] 08server opened #85 "Attempting to install, but the available python3 package in Ubuntu is too new?"
`dragonfire : Depends: python3 (< 3.6) but 3.6.5-3ubuntu1 is installed`

[2018-07-16 15:44] mertyildiran commented on #85
@08server I think the only constraint we have is in [here](https://github.com/DragonComputer/Dragonfire/blob/master/debian/control#L10) so is that the whole traceback or error output? Could you share more information?

[2018-07-16 16:54] 08server commented on #85
`$ sudo dpkg -i dragonfire_1.0.0_amd64.deb
Selecting previously unselected package dragonfire.
(Reading database ... 396265 files and directories currently installed.)
Preparing to unpack dragonfire_1.0.0_amd64.deb ...
Unpacking dragonfire (1.0.0) ...
dpkg: dependency problems prevent configuration of dragonfire:
 dragonfire depends on python3 (<< 3.6); however:
  Version of python3 on system is 3

[2018-07-16 16:55] 08server commented on #85
@mertyildiran
[code]

[2018-07-16 19:54] mertyildiran commented on #85
@08server probably because I packed `.deb` file with Python 3.6 machine. Please try to install Dragonfire with `sudo ./install.sh` (alternative installation method)

[2018-07-16 20:40] 08server commented on #85
@mertyildiran Yeah, installed fine with that method... thanks

[2018-07-16 20:58] #85 closed

[2018-08-03 06:47] SamsadSajid opened #86 "Is Dragonfire going to save my personal data?"
Is Dragonfire going to save my personal data? For example, is it going to keep what I view, search, say, type or what my folders contain?

[2018-08-03 06:51] mertyildiran commented on #86
@SamsadSajid no, Dragonfire does not save your personal data. Only if you use the learning ability, it stores the facts to a database.

By the way GitHub issues section is not a question answering platform or a forum like thing. So please use [our Gitter chat room](https://gitter.im/DragonComputer/Lobby) to ask such questions.

[2018-08-03 06:51] #86 closed

[2018-08-17 22:40] CybernetiX-S3C opened #87 "won`t start"
qq

[2018-08-18 02:14] #87 closed

[2018-08-18 12:47] mertyildiran commented on #87
@CybernetiX-S3C what happened I don't understand? Did you solve the problem?

[2018-08-30 08:32] Ag0s opened #88 "Crash: Illegal instruction (core dumped)"
For a yet unknown reason Dragonfire crashes after telling me "Good morning sir".

Currently I am unable to investigate the issue as I have not yet found the dumped core. Do you have any idea where I can locate it? Its not on the OS core dump location like /var/crash/.

Running kernel:
Ubuntu 4.4.0-134-generic

[2018-08-30 09:26] Ag0s commented on #88
It seems an issue with deepspeech. syslog tells me the following:

Aug 30 10:21:30 PC kernel: [10547.898010] traps: dragonfire[24116] trap invalid opcode ip:7fb8ca5935a7 sp:7ffdc25b5960 error:0 in libdeepspeech.so[7fb8ca18c000+1dfa000]
Aug 30 10:55:00 PC kernel: [12558.031660] traps: dragonfire[3727] trap invalid opcode ip:7fce651e65a7 sp:7ffeff7943b0 error:0 in libdeepspeech.so[7fce64ddf000+1dfa0

[2018-08-31 02:18] mertyildiran commented on #88
@Ag0s based on `libdeepspeech.so` I guess it's related to Mozilla's DeepSpeech so you should seek for the answer in https://github.com/mozilla/DeepSpeech

[2018-09-01 05:11] magick93 opened #89 "crash when running docker image"
Hello

I tried to run `docker run dragoncomputer/dragonfire -s` , but it resulted in a crash - see output below.

Im running on Ubuntu 18.04, 16gm ram, i7 cpu.

[code]

[2018-09-13 14:29] ZhukovGreen opened #90 "Can't connect to MySQL server on 'MYSQL_HOST' ([Errno -2] Name or service not known)")"
Hi, dragonfire runs and says "Good afternoon, sir", but then the next erro poped

[code]

[2018-09-13 15:53] mertyildiran commented on #90
@ZhukovGreen you should enter the MySQL credentials in [here](https://github.com/DragonComputer/Dragonfire/blob/master/dragonfire/config.py#L35-L38) if you want to run Dragonfire on server mode.

[2018-09-13 15:53] #90 closed

[2018-10-01 12:19] JarnoRFB opened #91 "Support for Python 3.6"
When I try to install the .deb package I get

[code]

on Ubuntu 18.04, where Python 3.6 is now installed by default. I believe supporting 3.6 should not be problem as there were no real backwards incompatible changes.

Looking forward to try this out!

[2018-10-03 18:45] mertyildiran commented on #91
@JarnoRFB the .deb package should have compiled on a Python 3.6 machine. I have currently Python 3.5.2 installed on my system. I'm going to compile it on the cloud. But since you noticed the problem first, maybe you would like to do that?

See [build the Debian package for Dragonfire](https://github.com/DragonComputer/Dragonfire/blob/master/CONTRIBUTING.md#build-the-debian-package).

[2018-11-05 08:59] ViralDragon opened #92 "Dragonfire 1.0.0 / ModuleNotFound "realhud""
Hi there.

I'm running Ubuntu 18.04 using Python3(.6) When attempting to install Dragonfire, I ran into a couple issues which I was able to solve on my own by installing all the dependencies manually. After getting it installed using ./install.sh it comes back dragonfire has been installed successfully. When running dragonfire with "dragonfire", it comes back with a crash that appears to be becaus

[2018-11-05 11:04] mertyildiran commented on #92
@ViralDragon realhud is [this C program](https://github.com/DragonComputer/Dragonfire/blob/1d8635386ceadd74478ec5c1daf73959494d6b80/dragonfire/realhud/realhud.c) to show the female head animation. Normally **setup.py** should have compile and install that on your system but I did not understand what's happening on your end.

If you don't need realhud then as a workaround; you can remove all the im

[2018-11-06 00:18] ViralDragon commented on #92
Alright after playing around with it for a bit, I got the errors fixed on my side after re-running builds and install.

However, now when I type in "dragonfire" to activate it, it does the _initial_ wake up process and then that's it. I can say/yell wake up or dragonfire multiple times and nothing happens. It does this both with --gspeech and the default setting. It says "Good afternoon sir", (the

[2018-11-06 02:16] ViralDragon commented on #92
Ok, so after making sure that all the audio libraries were installed, I went ahead and rebooted.
Everything ... is sort of working. So now she'll respond to my voice/commands, but only after I tap on my mic once or twice, which ... makes no sense to me, but hey I'm willing to roll with it. Lollll.

Other than having to tap on it, she just needs to be trained up some more it looks like so I can hol

[2018-11-06 12:44] mertyildiran commented on #92
@ViralDragon there is a volume threshold to trigger the audio recording so either increase the volume of your mic or bring the mic a little bit more closer to your mouth.

[2018-11-06 12:44] #92 closed

[2018-11-16 04:31] Booteille opened #93 "install.sh is asking for the wrong requests version"
The `install.sh` script is install requests version `2.19.1` but dragonfire need the version `>=2.20.0`.
A simple `pip install -U requests` fix the issue but I suppose you should update the script.

[2018-11-16 23:06] mertyildiran commented on #93
@Booteille oops yeah I forgot to update the installation scripts before pushing [this commit](https://github.com/DragonComputer/Dragonfire/commit/f59624ca5e1be850308525affcc5839ec06d63a7). Since you are the one who first realized this problem, maybe you would like to fix that by sending a pull request?

[2018-11-17 00:34] Booteille commented on #93
I have actually not the time to do it. If you can wait some days I'll do it next week. But if you can do it by yourself then just do it.

[2018-11-17 00:58] mertyildiran commented on #93
@Booteille besides you should be the one to send the fix in terms of ethics, my purpose here is to increase the number of contributors to this project 😊

It's actually quite easy; just update the versions of `requests` to `>=2.20.0` in these lines:

1. https://github.com/DragonComputer/Dragonfire/blob/master/install-dev.sh#L57
2. https://github.com/DragonComputer/Dragonfire/blob/master/install.sh#

[2018-11-17 22:53] #93 closed

[2018-11-22 03:36] TeknoMobil commented on #91
Merhaba verdiğiniz linkteki bağımlılıkları kurdum, ama yinede üstteki belirtilen sorun var.
dpkg: bağımlılık sorunları yüzünden dragonfire paketi yapılandırılamıyor:
dragonfire şuna bağımlı: python3 (<< 3.6), ama:
Sistemde mevcut olan python3 paketinin sürümü 3.6.7-1~18.10.

[2018-12-15 14:18] jinfagang commented on #91
@mertyildiran Does there any update? I still got this for the newest release:

[code]

[2018-12-19 15:10] KirenJames7 commented on #91
Same issue for me too..
using ubuntu 18.04 with python 3.6
hope we can get a fix soon!

[2018-12-20 01:37] jinfagang commented on #91
@DragonComputer

[2018-12-22 08:57] cclauss commented on #91
https://github.com/DragonComputer/Dragonfire/blob/master/.travis.yml#L5 is a problem because the old-school way of doing __virtualenv: system_site_packages: true__ works on Python 3.5 but not on 3.6 and 3.7 thus #95 fails.  Somehow we gotta remove the __system_site_packages__ bit and make the Travis build work on 3.5, 3.6, and 3.7.

[2018-12-22 09:35] cclauss opened #96 "‘async’ is a reserved word in Python >= 3.7"
https://github.com/DragonComputer/Dragonfire/blob/master/dragonfire/__init__.py#L115 is a Syntax Error in Python >= 3.7.

This was [fixed in upstream](https://github.com/tweepy/tweepy/pull/1042) by moving from ___async___ to ___is_async___.

[2019-01-06 22:42] mertyildiran commented on #91
@JarnoRFB I have published I [new release](https://github.com/DragonComputer/Dragonfire/releases/tag/v1.0.1). I packed the `.deb` file on Ubuntu 18.04.1 LTS (Bionic Beaver) so it has to have Python 3.6 support. Cloud you confirm the Python 3.6 support?

[2019-03-05 05:15] kkpal09 opened #108 "Dragonfire 1.0.1 crashes as version requires (1.0.0) is not updated"
![dragonfire 1 0 1_crash](https://user-images.githubusercontent.com/29928277/53782537-ab0c9800-3edb-11e9-8260-cac872001c2a.png)

[2019-03-05 17:21] mertyildiran commented on #108
@kkpal09 I don't understand how did happened... Did you install it via `sudo dpkg -i dragonfire_1.0.1_amd64.deb`? Cloud you share the output of `dragonfire` executed from terminal?

[2019-03-05 20:55] lebedov commented on #108
I encountered the same issue after installing `dragonfire_1.0.1_amd64.deb` on Ubuntu 18.04; here is the stack trace:

[code]

[2019-03-05 21:09] lebedov opened #109 "Ubuntu package installs additional files that are not cleaned up on package removal"
The `dragonfire_1.0.1_amd64.deb` package both depends upon several Ubuntu-packaged Python libraries and installs a number of Python packages directly from pypi in `/usr/local/`. When the dragonfire is uninstalled, the latter are not removed. Moreover, when nltk is installed as one of the dependencies, an `nltk_data` directory is created in one's home directory that is owned by root. From a package

[2019-03-05 21:41] lebedov commented on #89
It would be desirable to clarify that the Docker image is only intended for server-side use in the project README.

[2019-03-06 00:17] mertyildiran commented on #89
@lebedov correct, feel free to update `README.md` and send a PR(since you proposed the change).

[2019-03-06 00:20] mertyildiran commented on #109
@lebedov there is a post-installation entry point for the `.deb` package, this is [that shell script](https://github.com/DragonComputer/Dragonfire/blob/master/debian/postrm). Although it removes the directory that containes the pre-trained models, I never though about removeing `nltk_data` directory and the Python package dependencies. So feel free to send a PR for this issue. :blush:

[2019-03-06 02:10] mertyildiran commented on #108
@lebedov oops, my bad that I forgot to bump some of the version strings in 1.0.1 release. :sweat_smile:

But it's fixed now with https://github.com/DragonComputer/Dragonfire/commit/ce9d76eea203630baaa4ac29ef13beaccd69f122

I have also published a [new release (1.0.2)](https://github.com/DragonComputer/Dragonfire/releases/tag/v1.0.2) so please try to install [dragonfire_1.0.2_amd64.deb
](https://gi

[2019-03-06 02:10] #108 closed

[2019-03-06 14:24] kkpal09 commented on #108
I had installed using both `sudo dpkg -i dragonfire_1.0.1_amd64.deb` and `dragonfire` from terminal. I got the same backtrace as shared by @lebedov

I had corrected the version to 1.0.1 in local copy and was able to run dragonfire. I will checkout the new release(1.0.2). Thanks for quick fix!

[2019-03-06 16:58] vladislavyuzbekov opened #110 "What is it? (Ubuntu 18.10)"
vladislav@ubuntu:~$ dragonfire
Traceback (most recent call last):
  File "/usr/bin/dragonfire", line 6, in <module>
    from pkg_resources import load_entry_point
  File "/usr/local/lib/python3.6/dist-packages/pkg_resources/__init__.py", line 3191, in <module>
    @_call_aside
  File "/usr/local/lib/python3.6/dist-packages/pkg_resources/__init__.py", line 3175, in _call_aside
    f(*args, **kwargs

[2019-03-06 18:16] lebedov commented on #110
It appears that the latest Ubuntu package (1.0.2) doesn't several of the Python packages required by Dragonfire (e.g., peakutils, pyqtgraph, imutils).

[2019-03-06 18:19] lebedov commented on #108
Unfortunately, the newest package also seems to have problems; several required packages [are not installed](https://github.com/DragonComputer/Dragonfire/issues/110), and there seems to be an nltk version mismatch.

[2019-03-07 06:55] mertyildiran commented on #110
I'm sorry for the inconvenience. The issue is fixed with fbea83fc884b07a92b5a0c05db4bbe67abf995c7

I have updated the `.deb` package in the [latest release](https://github.com/DragonComputer/Dragonfire/releases/tag/v1.0.2).

Please confirm the issue is fixed and feel free to report further issues if there are any. :blush:

[2019-03-07 16:58] vladislavyuzbekov commented on #110
vladislav@ubuntu:~$ dragonfire
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/pkg_resources/__init__.py", line 583, in _build_master
    ws.require(__requires__)
  File "/usr/local/lib/python3.6/dist-packages/pkg_resources/__init__.py", line 900, in require
    needed = self.resolve(parse_requirements(requirements))
  File "/usr/local/lib/python3.6/dist-packages/

[2019-03-07 18:39] mertyildiran commented on #110
@vladislavyuzbekov fixed with 3731ac9c66aad78581be286ecc26ee560e22bcb3

I have updated the `.deb` package in the [latest release](https://github.com/DragonComputer/Dragonfire/releases/tag/v1.0.2).

Please try it one more time. :sweat_smile:

By the way you can build your own Debian packages by following [the guide](https://github.com/DragonComputer/Dragonfire/blob/master/CONTRIBUTING.md#build-the-

[2019-03-08 05:06] vladislavyuzbekov commented on #110
vladislav@ubuntu:~$ dragonfire
TensorFlow detected: v1.0.0

Warning: Restoring parameters:
globStep: 32000
watsonMode: False
autoEncode: False
corpus: cornell
datasetTag: old
maxLength: 10
filterVocab: 0
skipLines: False
vocabularySize: 0
hiddenSize: 512
numLayers: 2
softmaxSamples: 0
initEmbeddings: False
embeddingSize: 64
embeddingSource: None

Loading dataset from /usr/share/dragonfire/deepconv

[2019-03-08 13:21] lebedov commented on #110
Installation of the latest deb file works for me now. Thanks!

[2019-03-08 20:32] mertyildiran commented on #110
Glad that this issue is solved. Thanks for the feedback. :blush:

[2019-03-08 20:32] #110 closed

[2019-03-11 02:25] lebedov commented on #89
PR submitted.

[2019-03-20 05:24] cclauss commented on #96
Bump on this one...

[2019-03-20 23:21] mertyildiran commented on #96
@cclauss fixed with 49f5ca6eae2ec9be80d3e077182207298522ceb6

[2019-03-20 23:21] #96 closed

[2019-04-18 03:40] Ashutosh-Kukreti opened #115 "Suggestion"
Dear Dragonfire Team,
I just think won't it be easier to distribute the app in appimage or flatpak format?
Thorugh that it can support various distributions.

[2019-04-18 21:33] mertyildiran commented on #115
@Ashutosh-Kukreti we actually planned Dragonfire as an `apt` package. Here is [the proposal](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=869121). But we failed since the Debian package policies are too harsh for this kind of a project and also most of the Python packages which Dragonfire depends on, don't have an `apt` package.

But we have a plan for [Snappy](https://snapcraft.io/) though t

[2019-04-18 21:36] #88 closed

[2019-04-19 04:06] Ashutosh-Kukreti commented on #115
Well I’m not a developer myself But I will look into it. ☺️

[2019-04-22 08:59] FilatovRA opened #116 "Ubuntu 18.04 closing after start"
dragonfire
TensorFlow detected: v1.0.0

Warning: Restoring parameters:
globStep: 32000
watsonMode: False
autoEncode: False
corpus: cornell
datasetTag: old
maxLength: 10
filterVocab: 0
skipLines: False
vocabularySize: 0
hiddenSize: 512
numLayers: 2
softmaxSamples: 0
initEmbeddings: False
embeddingSize: 64
embeddingSource: None

Loading dataset from /usr/share/dragonfire/deepconv/model-pretrainedv2/

[2019-04-22 09:00] FilatovRA commented on #116
Using latest release https://github.com/DragonComputer/Dragonfire/releases/tag/v1.0.2

[2019-04-22 09:01] FilatovRA commented on #116
Same issue I found in comment from vladislavyuzbekov here https://github.com/DragonComputer/Dragonfire/issues/110

[2019-04-22 20:59] mertyildiran commented on #116
@FilatovRA could you provide me the original error message in English? Seems like an issue related to `sqlalchemy` but I'm not sure what's the reason.

[2019-05-09 22:50] FilatovRA commented on #116
Hello, now I got new error:
$ dragonfire
TensorFlow detected: v1.0.0

Warning: Restoring parameters:
globStep: 32000
watsonMode: False
autoEncode: False
corpus: cornell
datasetTag: old
maxLength: 10
filterVocab: 0
skipLines: False
vocabularySize: 0
hiddenSize: 512
numLayers: 2
softmaxSamples: 0
initEmbeddings: False
embeddingSize: 64
embeddingSource: None

Loading dataset from /usr/share/dragonfir

[2019-05-10 18:59] mertyildiran commented on #116
@FilatovRA you are most probably **out-of-memory**. Check out [this SO answer](https://stackoverflow.com/a/13329386/2104879).

[2019-05-10 19:23] FilatovRA commented on #116
I also tryed docker. And get an error:
sudo docker run dragonfire

Unable to find image 'dragonfire:latest' locally
docker: Error response from daemon: pull access denied for dragonfire, repository does not exist or may require 'docker login'.
See 'docker run --help'.

[2019-05-10 19:25] FilatovRA commented on #116
`Dragonfire: GOOD NIGHT SIR
________________________________________________________________________________

2019-05-10 22:24:56,634 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-05-10 22:24:56,634 INFO sqlalchemy.engine.base.Engine ()
2019-05-10 22:24:56,636 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60))

[2019-05-10 19:30] FilatovRA commented on #116
The solution I found by Google is to downgrade Tensorflow. I'll try it/

[2019-05-11 09:26] FilatovRA commented on #116
ERROR: dragonfire 1.0.2 has requirement tensorflow==1.0.0, but you'll have tensorflow 1.5.0 which is incompatible.

[2019-05-11 09:39] FilatovRA commented on #116
I am pretty shure the problem is in my old PC:
python -c "import tensorflow as tf; tf.enable_eager_execution(); print(tf.reduce_sum(tf.random_normal([1000, 1000])))"
2019-05-11 12:38:05.020708: F tensorflow/core/platform/cpu_feature_guard.cc:37] The TensorFlow library was compiled to use SSE4.2 instructions, but these aren't available on your machine.
Aborted (core dumped)

[2019-05-11 22:23] mertyildiran commented on #116
@FilatovRA I don't understand what's the issue right now. You post a lot of different outputs that come from different TensorFlow versions. Yes, Dragonfire depends on TensorFlow version `1.0.0`.

[Dockerfile](https://github.com/DragonComputer/Dragonfire/blob/master/Dockerfile) is outdated, so I don't recommend to use that.

[2019-05-21 11:50] genikineg opened #117 "ubuntu 18"
Dragonfire not work,,

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/pkg_resources/__init__.py", line 583, in _build_master
    ws.require(__requires__)
  File "/usr/local/lib/python3.6/dist-packages/pkg_resources/__init__.py", line 900, in require
    needed = self.resolve(parse_requirements(requirements))
  File "/usr/local/lib/python3.6/dist-packages/pkg_reso

[2019-05-21 12:34] genikineg commented on #117
install deb

$ dragonfire
TensorFlow detected: v1.0.0

Warning: Restoring parameters:
globStep: 32000
watsonMode: False
autoEncode: False
corpus: cornell
datasetTag: old
maxLength: 10
filterVocab: 0
skipLines: False
vocabularySize: 0
hiddenSize: 512
numLayers: 2
softmaxSamples: 0
initEmbeddings: False
embeddingSize: 64
embeddingSource: None

Loading dataset from /usr/share/dragonfire/deepconv/mode

[2019-05-23 21:20] mertyildiran commented on #117
@genikineg because of the latest commit https://github.com/DragonComputer/Dragonfire/commit/4c0e873e0bee3553bf14dfb1dded85e7fa515434

I'm gonna fix it on the weekend.

[2019-05-25 07:54] genikineg commented on #117
I will be very happy if after updating everything will work for me)

[2019-05-29 08:46] beew opened #118 "instructions to build Dragonfire from source locally"
I am wondering if there are instructions for compiling Dragonfire from source.

The install script installs a lot of things in the root file system and I don't want to mess up my production system because of conflicting versions  (e.g The install script wants to install tensorflow-1.0.0, but  I have already had tensorflow-1.13.0  compiled from source for my cuda version so it is not good if Dragon

[2019-06-22 13:36] luntik2012 commented on #116
could somebody update it please? cannot use this on archlinux...

[2019-07-16 17:41] MariaAlpaki opened #119 "Pip3 can't install TensorFlow 1.0.0"
I'm installing DragonFire using install.sh. Pip3 can't find tensorflow 1.0.0

"Could not find a version that satisfies the requirement tensorflow==1.0.0 (from versions: 1.13.0rc1, 1.13.0rc2, 1.13.1, 1.13.2, 1.14.0rc0, 1.14.0rc1, 1.14.0, 2.0.0a0, 2.0.0b0, 2.0.0b1)"

I have tried change "1.0.0" to "1.13.1" in install.sh and setup.py files, but when i started the Dragonfire using terminal, it's crash

[2019-07-17 17:49] mertyildiran commented on #119
@MariaAlpaki can't because a pre-trained model only supports `tensorflow==1.0.0`. Maybe you can find a solution and contribute to the source code?

[2019-07-17 18:49] MariaAlpaki commented on #119
@mertyildiran, challenge accepted

[2019-07-30 07:17] danraymond opened #120 "Error on install under linux mint"
I am getting this error on install from the .deb

Command "/usr/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-gl5djy_g/thinc/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /tmp/pip-ckqvv9wy-record/install-record.txt --single-version-externally-managed --compile" fa

[2019-07-30 22:41] syedmustafa54 opened #121 "stt is not accurate"
I have tried nearly 50 times to say hey, wake up, drigonfire, but never got activate due to wrong stt here are my outputs. I have install using sudo ./install.sh after installation typed dragonfire tensorflow model got loaded up
[code]

[2019-07-30 23:44] syedmustafa54 commented on #121
after running sudo ./install.sh where is the source dir its working

[2019-07-31 01:27] syedmustafa54 opened #122 "Segmentation fault"
when i am running `python __init__.py --create --audio 0`
I am getting this error but when i run `drigonfire` its working
[code]

[2019-07-31 01:29] syedmustafa54 commented on #121
if i just want to run python script instead of `drigonfire` where is the script

[2019-07-31 19:44] syedmustafa54 commented on #120
@danraymond  do you have python3.6 installed you can verify it by typing python -V in terminal its

[2019-07-31 19:45] syedmustafa54 commented on #119
@MariaAlpaki if you use python3.6 you can install tensorflow==1.0.0 I have also the same issue solved it by using 3.6

[2019-07-31 20:09] syedmustafa54 commented on #118
I have same problem like but I have anaconda3 create env in that env installed all the requirements Remember to use python 3.6 env if higher you can't install tensorflow 1.0.0 using pip if your using than you need to do installation using source code
Steeps to install on env using anaconda
1. Create environmental
 `conda create -n dragonfire python=3.6`
2. Activate your environmental using the bel

[2019-07-31 23:39] danraymond commented on #120
Hi,

python -V gives me 2.7.15rc1

python3.6 -V gives me 3.6.8

Can I modify the deb so the 1.8gb file does't keep trying to download, I
have downloaded it separately.

Thanks

Dan Raymond
Principal
0400 551 920

------ Original Message ------
From: "SYED" <notifications@github.com>
To: "DragonComputer/Dragonfire" <Dragonfire@noreply.github.com>
Cc: "danraymond" <dan@danraymond.org>; "Mention"
<me

[2019-08-01 21:06] mertyildiran commented on #118
@beew Dragonfire requires `tensorflow==1.0.0` because a neural network model that trained which by used Dragonfire requires `tensorflow==1.0.0`. But recently TensorFlow broke something about their version `1.0.0` and I don't have time to fix that. Maybe you can fix it?

[2019-08-03 21:42] syedmustafa54 commented on #121
@mertyildiran how can I increase accuracy speech recognition of dragranfire I don't want to use google

[2019-08-10 22:45] danraymond opened #123 "KIlled on startup"
I have installed succesfully I think, but  get this on startup. Then  it is 'killed' in the last line. Any assistance appreciated.

===================
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:471: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _n

[2019-09-18 13:33] Sahilsk99 opened #125 "Robot Animation"
I want to build my personal assistant and everything is done but the problem is I am not able to create a animation like Dragonfire  face robot please suggest me to do something animation like Dragonfire

[2019-09-23 14:30] karthikindia opened #126 "how to change to male voice"
need to know how to change male voice?

[2019-09-23 14:31] karthikindia opened #127 "is it possible to integrate wiki contents"
is it possible to integrate wiki contents same as sepia framework

[2019-09-26 17:26] mertyildiran commented on #127
@karthikindia I don't quite understand what you mean with **wiki content**? If you mean the content of Wikipedia articles then it's a thing that we already use in Dragonfire with for example [this line](https://github.com/DragonComputer/Dragonfire/blob/master/dragonfire/omniscient.py#L127).

[2019-09-26 19:17] mertyildiran commented on #126
@karthikindia [this line](https://github.com/DragonComputer/Dragonfire/blob/master/dragonfire/utilities.py#L173-L178) handles the TTS. We use `slt` voice and these are the available voices of `flite`: http://www.festvox.org/flite/packed/flite-2.0/voices/

Feel free to add a command line argument to Dragonfire to change her voice and send a pull request. Any contributions are welcomed.

[2019-09-26 19:19] mertyildiran commented on #125
@Sahilsk99 we play a gif with [this line](https://github.com/DragonComputer/Dragonfire/blob/3fd3eac5f8b904f8804839b02b3dbcacf1cf2ddd/dragonfire/utilities.py#L63) so you can replace it with your gif.

[2019-09-26 19:19] #125 closed

[2019-09-27 02:04] karthikfge commented on #126
thanks

[2019-09-27 02:04] karthikfge commented on #127
thanks

[2019-09-30 17:13] shawnggraham opened #128 "How do i uninstall this?"
I have tried everything to get this working now im getting an error about not being able to allocate memory.  I just want it off the system but i used the installer script.
is there an uninstall procedure that will remove all that is installed or do you have a list of dir's i can remove to get rid of it?

[2019-09-30 18:43] mertyildiran commented on #128
If you have installed Dragonfire via the `.deb` then there is: `apt remove --purge dragonfire` otherwise you might undo all of the steps in this shell script: https://github.com/DragonComputer/Dragonfire/blob/master/install.sh

[2019-10-09 17:11] venkatesh1098 commented on #18
Is the issue still Open?

[2019-10-09 18:26] mertyildiran commented on #18
@venkatesh1098 yep

[2019-11-27 03:11] genikineg opened #131 "Not work install ubuntu 19 Dragonfire 1.0.3"
Installation is interrupted:

Collecting wikipedia==1.4.0
  Using cached https://files.pythonhosted.org/packages/67/35/25e68fbc99e672127cc6fbb14b8ec1ba3dfef035bf1e4c90f78f24a80b7d/wikipedia-1.4.0.tar.gz
Collecting PyUserInput==0.1.11
  Using cached https://files.pythonhosted.org/packages/d0/09/17fe0b16c7eeb52d6c14e904596ddde82503aeee268330120b595bf22d7b/PyUserInput-0.1.11.tar.gz
Collecting tinydb=

[2019-11-27 17:32] mertyildiran commented on #131
@genikineg I'm currently upgrading TensorFlow version from 1.0.0 to 1.14.0 https://github.com/DragonComputer/Dragonfire/commit/b5144bcabb325c452bfd46c48c4b4b21de5c1a50

Please try `sudo ./install.sh`

[2019-11-28 04:39] genikineg commented on #131
Yes, I run sudo ./install.sh and I get an error

`Collecting wikipedia==1.4.0
  Using cached https://files.pythonhosted.org/packages/67/35/25e68fbc99e672127cc6fbb14b8ec1ba3dfef035bf1e4c90f78f24a80b7d/wikipedia-1.4.0.tar.gz
Collecting PyUserInput==0.1.11
  Using cached https://files.pythonhosted.org/packages/d0/09/17fe0b16c7eeb52d6c14e904596ddde82503aeee268330120b595bf22d7b/PyUserInput-0.1.11.tar.g

[2019-11-28 05:21] genikineg commented on #131
Work! need clone git!

[2019-11-28 05:25] genikineg commented on #131
Building wheels for collected packages: en-coref-sm
  Running setup.py bdist_wheel for en-coref-sm ... done
  Stored in directory: /root/.cache/pip/wheels/f2/f2/e0/2958eceb8ab3381bdc219bf8ba6213265df8bab8f145963a14
Successfully built en-coref-sm
Installing collected packages: en-coref-sm
Successfully installed en-coref-sm-3.0.0
[nltk_data] Downloading package names to /root/nltk_data...
[nltk_data

[2019-11-28 05:26] genikineg commented on #131
$ dragonfire -h
Invalid instruction (memory stack flushed to disk)

[2019-11-29 00:22] mertyildiran commented on #131
@genikineg I have published a [new release](https://github.com/DragonComputer/Dragonfire/releases/tag/v1.0.4) now.

Please try to install the new `.deb` package: [dragonfire_1.0.4_amd64.deb](https://github.com/DragonComputer/Dragonfire/releases/download/v1.0.4/dragonfire_1.0.4_amd64.deb)

or

[code]

[2019-11-29 04:59] Immortalin commented on #64
I think the linked block is out of date

[2019-11-29 18:10] mertyildiran commented on #64
@Immortalin yeah, you're right. Actually almost every occurrence of `dragonfire` as a string in the code base must be parameterized to achieve this feature. We have a config file which we load with [this line](https://github.com/DragonComputer/Dragonfire/blob/81e4e2799d90dd3f6bf48c0ad263782237cb3391/dragonfire/__init__.py#L176) so we can store the custom name there. Also [we have a logic](https://

[2019-12-05 20:57] Batcastle opened #132 "Fix deps for *.deb on Ubuntu 19.10"
[code]
When installing Dragonfire on Ubuntu 19.10, installation fails due to dependency issues. The following error is reported:

[code]

`portaudio19-dev` is in the repos, so why it says it is not going to be installed, I don't know:
[code]
MANUALLY installing `portaudio19-dev` does resolve the problem with that package, but the python problem persists.

The command I used for installation was:
[

[2019-12-05 21:12] mertyildiran commented on #132
@Batcastle we only support the latest Ubuntu LTS which is 18.04 with the `.deb` package. The `dragonfire_1.0.4_amd64.deb` package requires Python version to be less than 3.7. Because of that, it fails.

The message says `Depends: portaudio19-dev but it is not going to be installed`. That means you have the `portaudio19-dev` package on your system and it will skip the installation of this package.

[2019-12-05 21:45] Batcastle commented on #132
Thank you for the clarification. Maybe put that you only support the latest Ubuntu LTS in the README? I checked just now and did not see it.

On a side note,

I don't have `portaudio19-dev` installed on my system. If I did, it wouldn't have said anything. That's why I said manually installing it fixes the issue. Why it's doing this eludes me as I checked the `control` file and it was in there corr

[2019-12-05 21:55] mertyildiran commented on #132
@Batcastle would you like to add that Ubuntu LTS notice to README.md by sending a PR?

I have misunderstood your statement about `portaudio19-dev` package sorry. I suspect that since we always use a system with Python 3.6 to build the Debian package, it somehow automatically creates `python3 (< 3.7)` dependency. Could you please;

 - follow [Build the Debian package](https://github.com/DragonCompu

[2020-01-08 09:18] Aman1124 commented on #132
I downloaded the latest dragonfire_1.1.1_amd64.deb and tried installing via dpkg -i and encountered the above error. Installing via make file also shows the same error. I am currently using Ubuntu 19.10.

[2020-02-28 18:57] iguanen opened #141 "dragonfire: command not found"
After installing with chmod +x install.sh and sudo ./install.sh  I got no errors and green text at the end "Dragonfire is successfully installed to your computer."  but when trying to run it i get "dragonfire: command not found" and I can not find it in application menu.. Anyone know how to start it, or wha't wrong ?

[2020-02-28 20:15] mertyildiran commented on #141
@iguanen you can try to use the Docker image:

[code]

Probably something went wrong inside the installation script.

[2020-02-28 20:36] iguanen commented on #141
same result

frode@iguanen:~$ docker pull dragoncomputer/dragonfire
Using default tag: latest
Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Post http://%2Fvar%2Frun%2Fdocker.sock/v1.40/images/create?fromImage=dragoncomputer%2Fdragonfire&tag=latest: dial unix /var/run/docker.sock: connect: permission denied
frode@iguanen:~$ sudo docker pul

[2020-02-28 20:54] mertyildiran commented on #141
@iguanen could you please share the full output of `sudo ./install.sh`?

[2020-02-28 22:19] iguanen commented on #141
frode@iguanen:~$ cd Downloads
frode@iguanen:~/Downloads$ cd Dragonfire
frode@iguanen:~/Downloads/Dragonfire$ sudo ./install.sh
[sudo] password for frode:
Hit:1 https://dl.winehq.org/wine-builds/ubuntu eoan InRelease
Hit:2 https://repo.skype.com/deb stable InRelease
Hit:3 http://ppa.launchpad.net/lutris-team/lutris/ubuntu eoan InRelease
Hit:4 http://no.archive.ubuntu.com/ubuntu eoan InRelease
Get:5

[2020-03-15 11:28] iguanen opened #142 "deeppavlov 0.8.0 not supported"
ERROR: dragonfire 1.1.1 has requirement deeppavlov==0.7.1, but you'll have deeppavlov 0.8.0 which is incompatible.

How to downgrade to deeppavlov==0.7.1 ?

[2020-03-15 13:49] mertyildiran commented on #142
@iguanen you can try to change the version from [here](https://github.com/DragonComputer/Dragonfire/blob/master/requirements.txt#L23). Probably you should set that line to `deeppavlov>=0.7.1` or `deeppavlov==0.8.0`

[2020-03-16 18:17] iguanen commented on #142
Did not help, I get this output when trying to start dragonfire

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 574, in _build_master
    ws.require(__requires__)
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 892, in require
    needed = self.resolve(parse_requirements(requirements))
  File "/usr/lib/python3/dist

[2020-03-16 18:23] mertyildiran commented on #142
@iguanen it's because Dragonfire is already installed with `deeppavlov==0.7.1` dependency. So first run `make pip-uninstall` or `make dev-pip-uninstall` to remove Dragonfire and then run `make install` to reinstall it.

[2020-04-16 20:17] micka-chm opened #143 "charger dragonfire hors installation"
bonjour y as t'il possibiliter de générer dragonfire hors installation via install.sh
comme par exemple debeugage directe via idle python 3.6

[2020-04-18 22:42] mertyildiran commented on #143
@micka-chm sorry but I don't speak French. So could you please write in English if it's possible?

[2020-04-18 22:46] micka-chm commented on #143
hello here is my answer in english

hello is there it possible to generate dragonfire except installation via install.sh
like for example direct debugging via idle python 3.6

[2020-04-18 22:58] mertyildiran commented on #143
@micka-chm I don't understand what you mean by "generate dragonfire" but in any case you will need to run a shell script to install the dependencies. Dragonfire is not a plain Python program but rather a Python program that orchestrates some other programs so that Dragonfire depends on many different packages and TensorFlow models which either provided by your operating system's package manager or

[2020-04-18 23:03] micka-chm commented on #143
ok I understand better what I wanted what I wanted to download and launch it via the pyrhon debugger my apparently this is not possible thank you very much for your answer

[2020-04-18 23:08] micka-chm commented on #143
I have one last question concerning the cerebral capacities of dragon fire is she able to learn by herself even if given the order

[2020-04-20 08:55] micka-chm commented on #143
Hello, My question may have been relevant my as I ask you that this dragonfire is cappable to generate metadata itself and grow alone without that we need to teach him well on I speak later because for this what neuron networks have to do
Thank you for your reply

[2020-06-19 06:09] sohamhaldar commented on #18
Can i use selenium with python

[2020-06-19 07:05] micka-chm commented on #18
Hello

yes we can use selenium avzc python because selenium is only an
organic matter so after just adapt to the component to code

Le ven. 19 juin 2020 à 08:09, sohamhaldar <notifications@github.com> a
écrit :

[2020-07-11 19:20] LborV opened #144 "Can't install on Ubuntu 20.04"
Using sudo make ./install.sh gives me(deb pack also not working):
The following packages have unmet dependencies:
 libglib2.0-dev : Depends: libpcre3-dev (>= 1:8.31) but it is not going to be installed
                  Depends: libselinux1-dev but it is not going to be installed
E: Unable to correct problems, you have held broken packages.

And:

Collecting spacy==2.1.3
  Using cached spacy-2.1.3

[2020-07-11 19:25] mertyildiran commented on #144
@LborV please try [1.2.0](https://github.com/DragonComputer/Dragonfire/tree/1.2.0) branch.

[2020-07-11 19:32] LborV commented on #144
now this errors:

The following packages have unmet dependencies:
 libgstreamer1.0-dev : Depends: libglib2.0-dev but it is not going to be installed
E: Unable to correct problems, you have held broken packages.
Requirement already up-to-date: pip in /usr/local/lib/python3.8/dist-packages (20.1.1)

✘ No compatible models found for v3.0.0 of spaCy

/usr/bin/python3: No module named deeppavlov
Traceb

[2020-07-28 23:03] Shadowfire69 opened #146 "Compatible OS!"
First let me say that I'm brand new to Linux and thought that this project was beyond cool but no matter what I do I cant seem to get Dragonfire to work.
I've tried to install this on KDE neon, Kubuntu 20.04, Ubuntu 20.04, and openSUSE and every time I get the same errors:
"No compatible models found for v3.0.0 of spaCy"
"Traceback (most recent call last):
  File "<stdin>", line 5, in <module>
Mod

[2020-07-28 23:15] mertyildiran commented on #146
@Shadowfire69 please try `1.2.0` branch: https://github.com/DragonComputer/Dragonfire/tree/1.2.0

[2020-07-29 01:36] Shadowfire69 commented on #146
I have tried 1.2.0 a few times now but it won't work and I get the error:
"fatal: repository 'https://github.com/DragonComputer/Dragonfire/tree/1.2.0/' not found".

[2020-07-29 06:27] mertyildiran commented on #146
@Shadowfire69 it's;

[code]

not;

[code]

So you should do branch switching not cloning.

[2020-07-29 13:15] Shadowfire69 commented on #146
Thanks! But I'm still getting the same errors as before, so my question becomes what is the best or most compatible Ubuntu(assuming Kubuntu would work just the same)/Python version to use with Dragonfire?

[2020-07-29 19:11] mertyildiran commented on #146
@Shadowfire69 latest passing test was https://github.com/DragonComputer/Dragonfire/tree/e9f2dce872c43210062db1e2022097c4b8aa7781 which ran on Ubuntu 18.04 The default Python 3.x (`python3 --version`) on Ubuntu 18.04 is tested hence approved that it's working.

[2020-07-30 01:24] Shadowfire69 commented on #146
OK I don't know what I'm doing wrong because I installed Unbuntu 18.04 which resolved the "spaCy" issue but I'm still getting the deepavlov error:

 ./debian/postinst: line 90: 28349 Illegal instruction     (core dumped) python3 -m spacy download en
/usr/bin/python3: No module named deeppavlov
Traceback (most recent call last):
  File "<stdin>", line 5, in <module>
ModuleNotFoundError: No module n

[2020-07-30 02:16] mertyildiran commented on #146
@Shadowfire69 if you're sure that you have `deeppavlov` package on your system then try to remove it from the dependencies or change the version criteria on [this line](https://github.com/DragonComputer/Dragonfire/blob/master/requirements.txt#L23). Because it seems like there is a version mismatch.

[2020-07-30 06:58] Shadowfire69 commented on #146
So I just did a clean install of Ubuntu 18.04 and copied & pasted all 23 of the dependency's names to pip3 install "     " which installed everything normally with no errors or problems but still for some reason I'm getting the same "no module named deeppavlov" error and "dragonfire:command not found" in the terminal.

[2020-08-03 23:36] Kali-Zak opened #147 "This Dosen't Work"
Well obviously something is wrong with your code because no one here or on gitter is able to get this installed and you offer no real solutions to anyone when all dependency's are installed and working instead you just stop replying to them when you should be doing everything possible to get this working for people or should be posting a step by step instructions to get it to work.

Get:15 http://

[2020-08-06 06:45] dsimon28 commented on #118
you could always do a build in a clean chroot https://wiki.archlinux.org/index.php/DeveloperWiki:Building_in_a_clean_chroot im building and repackaging the dependencies right now and will be attempting to get this running on arch will let you know how it goes.
 ****

[2020-08-07 04:09] dsimon28 commented on #118
update i tried both making clean chroot in arch using apt and on arch and trying a Debian bootstrap from arch i now have the executable but couldn't get the dependencies to work right my next step will be attempting to build in a partition using a live boot Debian and then mounting to arch :) will update, would love to get this to work on arch.

[2020-08-07 14:56] mertyildiran commented on #118
@dsimon28 try [1.2.0](https://github.com/DragonComputer/Dragonfire/tree/1.2.0) for fixed/removed dependencies.

[2020-09-10 01:48] Achyut-BK opened #148 "Python 3.8 support"
I was installing the deb binary for Dragonfire, but it kept saying that I need python version less that 3.7. So, I tried the Debian package build instructions, but it errors out after a few seconds. I tried building it from source, but it 1) didn't create the dragonfire command (I ran it with `python3 -m dragonfire`), or install most of the required deps. I tried installing it manually, but realhu

[2020-09-11 01:03] Achyut-BK commented on #147
Try python3 -m dragonfire -h

[2020-09-11 04:01] andersondsl commented on #147
Sorry to everyone who reads this message, but @Kali-Zak if you are not financially supporting this project, you should at least research and hack the minimum to find that answer.

[2020-09-11 06:47] Achyut-BK commented on #148
Got it. The deeppavlov library seems to only run with CUDA. so this seems to be an error in the README instead of an error in the app, as it only says the CUDA Library is preferred

[2020-09-11 08:04] mertyildiran commented on #148
@Achyut-BK I'm having hard-time to support Ubuntu 20.04 because there are too many dependency issues. I've removed several dependencies and lost some features on [`1.2.0`](https://github.com/DragonComputer/Dragonfire/tree/1.2.0) branch. Maybe you can figure out a way to upgrade while preserving the features.

[2020-09-11 10:15] Achyut-BK commented on #148
@mertyildiran I can try my luck with it. IDK how well I can do though. I was actually also wondering, can we support more TTS engines, like mycroft does. Mimic2 seems Nice.

[2020-09-11 12:22] Achyut-BK commented on #148
I dug around a bit more in the source code. I uninstalled the deb package and built the master branch from source. It still didn't compile the realhud library, so I tried manually compiling the realhud library, and got the following error
[code]
So this seems to be the problem with the builiding of Realhud. I checked the source again, but the compile instructions given there didn't work. I fixed i

[2020-09-11 13:29] Achyut-BK commented on #148
Fixed thinc `modulenotfound` problem by downgrading it to 7.0.0.
We now suffer from
```ImportError: cannot import name 'prefer_gpu' from 'thinc.api' (/home/xxx/.local/lib/python3.8/site-packages/thinc/api.py)```

[2020-09-11 15:58] Achyut-BK commented on #148
We seem to be in dependency hell. Thinc version 8.0.0a11 is required by spacy, but thinc version 7.0.0 is required for someother scripts.
On installing thinc 7.0.0
[code]
with Thinc 8 :
`ModuleNotFoundError: No module named 'thinc.v2v'`
with Thinc 7:
`ImportError: cannot import name 'prefer_gpu' from 'thinc.api' (/home/xxx/.local/lib/python3.8/site-packages/thinc/api.py)`
I think this is fixable b

[2020-09-12 01:49] Achyut-BK commented on #148
Fixed the aforementioned problem
`pip install spacy==2.3.2` installs spacy and Thinc in a way that is compatible. **YAY**.
After a couple problems with pyUserInput and missing spacy models, its FINALLY building te AI. So what I'll try doing is installing spacy on  a fresh version of Ubuntu Server, go through installing everythin, and then post `python3 -m pip list` and the installed packages here.

[2020-09-13 18:27] mertyildiran commented on #148
@Achyut-BK I'm sorry for my late reply.

`pip3 install -e .` should compile the `realhud` Python C extension without any problem. We should replace `realhud` with an Electron based or low-level WebKit API based solution in the future. Replacing it with something else is out of scope of this issue. [This commit](https://github.com/DragonComputer/Dragonfire/commit/35a8987782042cc77c133518c28fd4503b2

[2020-09-14 04:27] Achyut-BK commented on #148
@mertyildiran That sounds great. However, it seems to have a problem with tensorflow 2 (`AttributeError: module 'tensorflow' has no attribute 'orthogonal_initializer'
`). Tensorflow 1 may work, but there are no precompiled wheels for TF 1 for python3.8. I don't have the processing power to build the wheels myself. Could yOu help?

[2020-09-14 08:14] mertyildiran commented on #148
@Achyut-BK yeah they drop support for TensorFlow 1.x as of Python 3.8. Therefore we should instead migrate to TensorFlow 2 and replace or remove the models broken in TensorFlow 2.

An alternative approach would be making this project rely on `pyenv` instead of system packages and use an older Python version like 3.6 or 3.7. But I'm not sure how we can do that. Like; it should install `pyenv` if it

[2020-09-14 10:24] Achyut-BK commented on #148
@mertyildiran That would actually be good, as currently, when it is using my systems pip, its basically locked all my ML libraries at one version. Not much of a problem for me, but I'm pretty sure this can get annoying if you use these frameworks regularly. Also, if we succeed with pyenv, we could probably try for packaging it as a snap or appimage for anyone who doesn't want to get down and dirty

[2020-09-14 12:31] mertyildiran commented on #148
@Achyut-BK it's good to hear that you can help. Distributing with snap, flatpak and appimage is also in the plan. I don't have enough time to focus on this repository right now. If you can fix these dependency issues, I would be so grateful. I'm ready to answer all kinds of questions of yours and help to you using this discussion chain.

[2020-09-24 01:20] Kali-Zak commented on #147
/usr/bin/python3: No module named dragonfire

[2020-09-24 10:08] Achyut-BK commented on #147
You need to be in the directory where dragonfire is installed `~/Dragonfire` in your case

[2020-10-12 15:29] neopablo2000 commented on #148
In my case, I solved it using Venv. First, compiled Python 3.6 from source. Then created a Virtualenv based on Python 3.6 and installed everything inside Venv. Voila! Not a tecchy guy, i bet you know how to explain it better, but if needed details (despite my english hahaha) count on it.

[2020-12-17 06:43] danelsan opened #150 "Try docker version not go"
I try run

docker run --rm dragoncomputeruter/dragonfire dragonfire -h

But the result is:

  File "/usr/local/lib/python3.6/dist-packages/pkg_resources/__init__.py", line 567, in _build_master
    ws.require(__requires__)
  File "/usr/local/lib/python3.6/dist-packages/pkg_resources/__init__.py", line 884, in require
    needed = self.resolve(parse_requirements(requirements))
  File "/usr/local/li

[2021-02-13 04:32] sova32 opened #152 "Don't installing"
dragonfire : Зависит: python3 (< 3.7) но 3.7.3-1 должен быть установлен

[2021-04-02 07:30] snakers4 opened #153 "Support for modern TTS models for various languages"
### Proposal

Consider giving a go to Silero TTS models. These are published under an open license assuming non-commercial / personal usage. Please see our TTS models here - https://github.com/snakers4/silero-models#text-to-speech (corresponding article https://habr.com/ru/post/549482/).

What is most important our TTS models can run on one CPU thread / core decently and depend mostly only on PyTo

[2021-06-18 17:39] Darko26 opened #155 "dragonfire windows"
Salut y as t'il une compatibilité avec windows FR ? car je suis sur windows et j'aimerais faire un test de performance sous windows

[2021-06-29 08:37] Kudakitsune opened #156 "Dragonfire command not found"
UH, i have installed this, give a message sayin: dragonfire is succesfully installed to your computer, but when i try to use a command, like iduno, DRAGONFIRE, it say: dragonfire command not found

[2021-07-11 15:04] EneroPl commented on #156
I have the same problem after successfully installation of 'Dragonfire'.

[2021-07-11 15:32] EneroPl opened #157 "ModuleNotFound"
I enter command `python3 -m dragonfire -h` or just `dragonfire`, but it's output this module error and I can't fix it.

Traceback (most recent call last):
  File "/usr/lib/python3.8/runpy.py", line 185, in _run_module_as_main
    mod_name, mod_spec, code = _get_module_details(mod_name, _Error)
  File "/usr/lib/python3.8/runpy.py", line 144, in _get_module_details
    return _get_module_details(pkg

[2021-10-15 01:44] Opfour opened #159 "Install error ubuntu 21.10"
I tried installing the software but ran into an issue:

[code]
[code]

This was on a fresh install of ubuntu 21.10
installed multiple versions of python, but evidently the os is too new possibly?

[2021-11-06 02:18] #152 closed, assigned to nobody

[2021-11-26 15:45] SuperJumpBros commented on #159
I am having the same issue on Ubuntu 20.04.3 LTS.

[2021-12-15 09:40] KR34T1V commented on #156
Same, where does it install to? Perhaps manually adding it to the PATH will fix this.

[2021-12-23 20:28] oceanchinatownredpie commented on #159
Same problem here

[2022-01-24 18:44] Pranoypauljr commented on #157
try manually installing the tinydb package with the given version in requirements.txt file
run the command -> pip install tinydb==3.9.0.post1   ,in your terminal (within your virtual env if any.)

[2022-02-16 01:50] JRMeyer opened #162 "[Feature Request] Upgrade Speech-to-Text to Coqui STT"
Hi there 👋

I'm not sure if this project is still maintained, but Mozilla's DeepSpeech isn't (https://github.com/mozilla/DeepSpeech/issues/3693).

It would be a pretty small lift to upgrade to 🐸STT for the speech recognition, and the quality has very much improved:)

https://github.com/coqui-ai/STT

[2022-02-24 23:53] stepnoyvolk opened #163 "Please create a snap package"
Please create a snap package with full dependencies so users could install it on newer systems containig python > 3.7

[2022-03-22 07:42] Alucardsy commented on #159
Same issue here ...

[2022-03-24 18:12] stef7773 commented on #89
Hello I installed Dragonfire but i can t run it. Which is the command to run it please ?

[2022-04-23 04:35] stef7773 opened #165 "I can t initialize Dragonfire"
Traceback (most recent call last):
  File "/usr/bin/dragonfire", line 6, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 3254, in <module>
    def _initialize_master_working_set():
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 3237, in _call_aside
    f(*args, **kwargs)
  File "/usr/lib/pyt

[2022-05-29 20:36] Codingrocks3 opened #169 "Dragonfire not Starting"
When I install Dragonfire using `sudo make install`, it runs then at the end reads
 `Dragonfire is successfully installed to your computer.` when I run `dragonfire`, it says `Traceback (most recent call last):`
  `File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 584, in _build_master
    ws.require(__requires__)`
  `File "/usr/lib/python3/dist-packages/pkg_resources/__init__.p

[2022-05-30 18:14] Codingrocks3 commented on #159
Same here on Linux Mint

[2022-09-24 17:45] xidef opened #170 "problem with starting dragonfire 1.1.1"
federico@federico-Lenovo-B590:~$ dragonfire
Traceback (most recent call last):
  File "/usr/local/bin/dragonfire", line 33, in <module>
    sys.exit(load_entry_point('dragonfire==1.1.1', 'console_scripts', 'dragonfire')())
  File "/usr/local/bin/dragonfire", line 25, in importlib_load_entry_point
    return next(matches).load()
  File "/usr/lib/python3.10/importlib/metadata/__init__.py", line 171,